openapi: 3.0.0
info:
  title: Coleccion de API KYB MX
  description: |
    La Colección de API KYB MX proporciona puntos finales para crear y gestionar verificaciones de empresas en México. La verificación de empresas implica validar la información proporcionada por un cliente comercial, incluyendo documentos y fuentes de datos, para asegurar su legitimidad y precisión.

    Cada verificación de empresa puede incluir múltiples ítems, como Actas Constitutivas, Constancias de Situación Fiscal, Identificaciones Personales y Comprobantes de Domicilio. Trebol maneja automáticamente la clasificación de documentos, lo que te permite enviar todos los documentos requeridos como URLs descargables (por ejemplo, URLs prefirmadas de AWS o GCP).

    **Autenticación**: 
    La API utiliza una clave API para la autenticación, pasada en el encabezado `x-api-key`. Para obtener una clave API, por favor [contáctanos](mailto:sales@gotrebol.com).

  version: 1.0.0

servers:
  - url: https://api.gotrebol.com
  - url: http://{{trebol_api_base_url}}

tags:
  - name: Creacion de Verificacion
    description: Endpoints para crear nuevas verificaciones.
  - name: Leer información de la empresa
    description: Endpoints v2 para obtener información detallada de empresas y verificaciones.
  - name: Leer por Etiqueta
    description: Endpoints para obtener información detallada sobre empresas mediante etiquetas.
  - name: Leer por ID de Verificacion
    description: Endpoints para obtener información detallada sobre verificaciones mediante ID.
  - name: Gestión de IPs Permitidas
    description: Endpoints para gestionar la lista de IPs permitidas (whitelist) para la cuenta del cliente.
  - name: Gestión de API Keys
    description: Endpoints para crear, listar y eliminar API keys de la cuenta del usuario.
  - name: Gestion de item Ids
    description: Endpoints para gestionar items de verificaciones.
  - name: Invalidar un documento
    description: Endpoints para invalidar documentos de verificaciones.
  - name: Labels de Verificacion
    description: Endpoints para gestionar labels de verificaciones.
  - name: Actualizar personas clave de una verificacion
    description: Endpoints para actualizar personas clave de verificaciones.
  - name: Agregar items a una verificacion
    description: Endpoints para agregar items a verificaciones existentes.
  - name: Estado de validacion de documentos
    description: Endpoints para obtener el estado de validación de documentos.
  - name: Gestión de Flujos de Cuenta
    description: Endpoints para gestionar flujos de cuenta.
  - name: Gestión de Webhooks
    description: Endpoints para crear, listar, actualizar y eliminar webhooks de la cuenta.
  - name: Gestión de Política de Retención
    description: Endpoints para gestionar la política de retención de datos de la cuenta.
  - name: Exportación de Verificaciones
    description: Endpoints para exportar datos de verificaciones a documentos personalizados.
  - name: Leer información de la empresa v1
    description: Endpoints v1 (legacy) para obtener información detallada de empresas y verificaciones. Te recomendamos migrar a los endpoints v2.

paths:
  /verifications:
    post:
      operationId: crearNuevaVerificacion
      tags:
        - Creacion de Verificacion
      summary: Crear una nueva verificación
      description: |
        Inicia una nueva verificación con los documentos especificados.

        **Nota:** Este endpoint permite crear verificaciones de empresas con documentos y configuraciones personalizadas.
      security:
        - ApiKeyAuth: []
      requestBody:
        description: |
          Hay dos formas de crear una verificacion, usando un flujo predefinido, el cual ya contiene todos los items y configuraciones necesarias o bien 
          pasando un array de items a verificar, la cual permite crear una verificacion con items personalizados, sin un flujo predefinido.
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/VerificationWithFlowId"
                - $ref: "#/components/schemas/VerificationWithItems"
            examples:
              ConFlowId:
                summary: Usando flow_id
                value:
                  country: "mx"
                  tag: "etiqueta"
                  flow_id: "some-flow-id"
                  friendly_name: "Empresa ACME S.A. de C.V."
                  metadata:
                    some: "value"
                  key_people:
                    - names: "John Doe"
                      scope: ["powers"]
              ConItems:
                summary: Usando items
                value:
                  country: "mx"
                  tag: "etiqueta"
                  friendly_name: "Juan Pérez López"
                  items:
                    - type: "generic"
                      options:
                        file_url: "https://www.somepresignedURL.com/withDownloadableFile"
                        client_item_type: "ac_mx"
                    - type: "generic"
                      options:
                        file_url: "https://www.somepresignedURL.com/withDownloadableFile"
                        people_scope: ["powers"]
                        client_item_type: "person_id"
                  metadata:
                    some: "value"
                  key_people:
                    - names: "John Doe"
                      scope: ["powers"]
      responses:
        "201":
          description: Verificación creada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID de la verificación creada.
                    example: "c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                  status:
                    type: string
                    description: Estado actual de la verificación.
                    example: "pending"
                  account_id:
                    type: string
                    format: uuid
                    description: ID de la cuenta asociada.
                    example: "99999999-9999-9999-9999-999999999999"
                  created_at:
                    type: string
                    format: date-time
                    description: Fecha y hora de creación de la verificación.
                    example: "2025-04-28T20:10:06.840Z"
                  updated_at:
                    type: string
                    format: date-time
                    description: Fecha y hora de última actualización de la verificación.
                    example: "2025-04-28T20:10:06.840Z"
                  flow_id:
                    type: string
                    description: Identificador del flujo de verificación utilizado.
                    example: "documents-v2"
                  documents_status:
                    type: string
                    enum: [pending_upload, partial_upload, full_upload]
                    description: Estado de la colección de documentos.
                    example: "pending_upload"
                  onboarding_url:
                    type: string
                    format: uri
                    description: Link de onboarding para el cliente.
                    example: "https://onboarding.gotrebol.com/verification/c8dc41fc-c477-404e-aff7-b9074f86d6d1/docs-v2?accessToken=accesstokenid32432434country=mx&client=99999999-9999-9999-9999-999999999999"
                  details_url:
                    type: string
                    format: uri
                    description: Link al reporte de la verificación.
                    example: "https://app.gotrebol.com/verifications/c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                  access_token:
                    type: string
                    description: Token de acceso JWT para la sesión de verificación.
                    example: "eyJhbGciOiJIUzI1NiJ9..."
                  items:
                    type: array
                    description: Lista de ítems/documentos a verificar.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: ID del ítem/documento.
                          example: 25440
                        item_status:
                          type: string
                          description: Estado del ítem/documento.
                          example: "pending"
                          enum: [pending, complete]
                        item_type:
                          type: string
                          description: Tipo de ítem/documento.
                          example: "ubos"
                        item_internal_status:
                          type: string
                          description: Estado interno del ítem/documento.
                          example: "pending_validation"
                          nullable: true
                        item_value:
                          type: object
                          description: Valores especificos del ítem/documento.
                        validation_result:
                          type: object
                          description: Resultado de las validaciones del ítem/documento.
                          nullable: true
                        item_scope:
                          type: string
                          description: Alcance del ítem/documento.
                          enum: [basic, advanced]
                          example: "basic"
                        item_options:
                          type: object
                          description: Opciones adicionales del ítem/documento que afectan al proceso interno del mismo.
                          properties:
                            is_optional:
                              type: boolean
                              description: Indica si el ítem/documento es opcional.
                              example: true
                          nullable: true
                  tag:
                    type: string
                    description: Etiqueta identificadora única del creador de la verificación.
                    example: "33332-34-22"
                  email:
                    type: string
                    format: email
                    description: Correo electrónico asociado a la verificación.
                    example: "johndoe@mail.com"
                  country:
                    type: string
                    description: Código de país ISO 3166-1 alfa-2.
                    example: "mx"
                  tax_id:
                    type: string
                    description: RFC o número de identificación fiscal.
                    example: "SAG160927GIA"
                  business_name:
                    type: string
                    description: Nombre comercial de la empresa extraído automáticamente de los documentos.
                    nullable: true
                    example: "Trebol OPCO SAS"
                  friendly_name:
                    type: string
                    nullable: true
                    description: >
                      Nombre descriptivo asignado por el usuario al crear la verificación. Permite
                      identificar fácilmente la empresa o persona asociada a la verificación.
                    example: "Empresa ACME S.A. de C.V."
                  options:
                    type: object
                    description: Objeto reservado para opciones adicionales.
                  created_by:
                    type: string
                    description: ID del usuario/cliente que creó la verificación.
                    example: "99999999-9999-9999-9999-999999999999"
                  onboarding_terms_and_conditions:
                    type: string
                    description: Lista de terminos y condiciones de onboarding aprobados por el cliente y asociados a la verificación.
                    nullable: true
        "208":
          description: |
            Verificación duplicada detectada. Se retorna cuando se intenta crear una verificación que ya existe 
            en el sistema para la misma empresa y flujo.

            **Condiciones para recibir este código:**
            - El parámetro `verify_duplicate_verification` debe ser `true`
            - Se debe proporcionar un `tax_id` (RFC/NIT) válido
            - Se debe proporcionar un `flow_id` válido
            - Ya existe una verificación activa con el mismo `tax_id`, `account_id` y `flow_id`

            **Comportamiento:**
            - Se envía automáticamente un enlace de acceso al email del creador original
            - Se retorna información básica sobre la verificación existente (con email enmascarado)
            - No se crea una nueva verificación
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Siempre será `false` para indicar que no se creó una nueva verificación
                    example: false
                  data:
                    type: object
                    description: Información sobre la verificación existente
                    properties:
                      creator_email:
                        type: string
                        description: |
                          Email del creador de la verificación original, enmascarado por privacidad.
                          Formato: primer_carácter + asteriscos + último_carácter + @dominio
                          Ejemplo: "john.doe@example.com" → "j**********e@example.com"
                        example: "j***@domain.com"
                      business_name:
                        type: string
                        description: Nombre comercial de la empresa de la verificación existente
                        example: "Trebol OPCO"
                    required:
                      - creator_email
                      - business_name
              examples:
                DuplicateVerification:
                  summary: Verificación duplicada detectada
                  description: |
                    Respuesta cuando se intenta crear una verificación que ya existe para la misma empresa y flujo.
                    El sistema automáticamente envía un enlace de acceso al creador original.
                  value:
                    success: false
                    data:
                      creator_email: "j***@trebol.com"
                      business_name: "Empresa Ejemplo S.A. de C.V."
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      operationId: listarVerificaciones
      tags:
        - Leer información de la empresa
      summary: Listar verificaciones de la cuenta
      description: |
        Retorna las verificaciones asociadas a la cuenta con paginación basada en tokens.
        El tamaño de página por defecto es 10 y el máximo permitido es 20.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: Filtra por el estado de la verificación.
          schema:
            type: string
            enum: [pending, finished, error, pending_validation]
        - name: page_size
          in: query
          required: false
          description: |
            Cantidad de verificaciones por página. Valor por defecto: `10`.
            Debe ser un entero positivo; valores no enteros o menores o iguales a `0` resultan en `400 Bad Request`.
            Valores mayores a `20` se ajustan automáticamente al máximo permitido (`20`).
          schema:
            type: integer
            minimum: 1
            default: 10
        - name: next
          in: query
          required: false
          description: Token de paginación para obtener la siguiente página de resultados.
          schema:
            type: string
      responses:
        "200":
          description: Lista de verificaciones obtenida exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PublicVerification"
                    description: Lista de verificaciones.
                  next:
                    type: string
                    description: Token para obtener la siguiente página de resultados (presente solo si hay más páginas).
                    nullable: true
              examples:
                Success:
                  summary: Lista de verificaciones obtenida exitosamente
                  value:
                    data:
                      - id: "c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                        account_id: "99999999-9999-9999-9999-999999999999"
                        status: "pending"
                        created_at: "2025-04-28T20:10:06.840Z"
                        updated_at: "2025-04-28T20:10:06.840Z"
                        tag: "etiqueta"
                        tax_id: "SAG160927GIA"
                        business_name: "Trebol OPCO"
                        friendly_name: "Empresa ACME S.A. de C.V."
                        flow_id: "documents-v2"
                        details_url: "https://app.gotrebol.com/verifications/c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                        onboarding_url: "https://onboarding.gotrebol.com/verification/c8dc41fc..."
                        items:
                          - id: 25440
                            item_status: "pending"
                            item_type: "csf_mx"
                            item_value: {}
                    next: "eyJjcmVhdGVkQXQiOiIyMDI1LTA0LTI4VDIwOjEwOjA2Ljg0MFoiLCJpZCI6ImM4ZGM0MWZjLWM0NzctNDA0ZS1hZmY3LWI5MDc0Zjg2ZDZkMSJ9"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /verification-items:
    get:
      tags:
        - Gestion de item Ids
      summary: Obtener todos los items de verificación
      description: |
        Retorna una lista de todos los items de verificación disponibles con paginación basada en tokens.
        La paginación funciona con un tamaño fijo de 10 items por página.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: itemType
          in: query
          required: false
          description: Filtrar por tipo de item (ej. "generic", "csf_mx", etc.)
          schema:
            type: string
        - name: itemStatus
          in: query
          required: false
          description: Filtrar por estado del item (ej. "pending", "complete", "error")
          schema:
            type: string
        - name: tag
          in: query
          required: false
          description: Filtrar por etiqueta de verificación
          schema:
            type: string
        - name: next
          in: query
          required: false
          description: Token de paginación para obtener la siguiente página de resultados
          schema:
            type: string
      responses:
        "200":
          description: Lista de items de verificación obtenida exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PublicVerificationItem"
                    description: Lista de items de verificación (máximo 10 por página)
                  next:
                    type: string
                    description: Token para obtener la siguiente página de resultados (presente solo si hay más páginas)
                    nullable: true
              examples:
                Success:
                  summary: Lista de items de verificación obtenida exitosamente
                  value:
                    data:
                      - id: 26600
                        item_order: 3
                        item_status: "complete"
                        item_type: "ac_mx"
                        item_internal_status: "classification_failed"
                        item_value:
                          value: "itemCustomed"
                        user_event_completed_at: "2025-09-23T03:30:32Z"
                        user_event_name: "add_item"
                        user_event_reason: "item created without a file_url"
                        tag: null
                        item_scope: "advanced"
                        tags:
                          uploaded-from: "webapp-creation-business"
                        original_file_url: "https://files.staging.gotrebol.com/66b4b55e-0e4f-42ec-9727-2bff88965562/26600_original_file.pdf?response-content-type=application%2Fpdf&response-content-disposition=inline&Expires=1758902113&Key-Pair-Id=K2O2X5EIJK95L0&Signature=X0if4WzR23I0s61h~gW2s-92nGNXhQBHZp9bxl42HqMSMO1VYpybLmhtygyJfx5OvZL4NSoYHTYfH7-yZv02lRwtNSI~xYFAVVxPPFROzwblK66LwymsQWAE0xvwtI98eWQKBWop3rgHADqrUGIm1RBa2qm3Ydlj2HVtWmsrVn2OTMtnIuoyI50Z8iYmx6hcPLul6SazK4h18MMRRi5xnsa2shrGs36rLyRFlnDBObRFJBKmkH4Dn27PuCVrXQRHQwRUIyRCQAiLGSuVKDp~iWZqTld6qgDQOkq-0A54dv0r8O6hYZ5fPyX1ufeIJeaKaGKjKC9qAiOWl~wQe6-w9g__"
                    next: "eyJjcmVhdGVkQXQiOiIyMDI1LTA5LTIzVDAzOjMwOjMyWiIsImlkIjoyNjYwMH0="
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /verification-items/{id}:
    get:
      tags:
        - Gestion de item Ids
      summary: Obtener un item de verificación por ID
      description: |
        Retorna un item de verificación específico por su ID.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: El ID único del item de verificación
          schema:
            type: string
      responses:
        "200":
          description: Item de verificación obtenido exitosamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicVerificationItem"
              examples:
                Success:
                  summary: Item de verificación obtenido exitosamente
                  value:
                    id: 26600
                    item_order: 3
                    item_status: "complete"
                    item_type: "ac_mx"
                    item_internal_status: "classification_failed"
                    item_value:
                      value: "itemCustomed"
                    user_event_completed_at: "2025-09-23T03:30:32Z"
                    user_event_name: "add_item"
                    user_event_reason: "item created without a file_url"
                    tag: null
                    item_scope: "advanced"
                    tags:
                      uploaded-from: "webapp-creation-business"
                    original_file_url: "https://files.staging.gotrebol.com/66b4b55e-0e4f-42ec-9727-2bff88965562/26600_original_file.pdf?response-content-type=application%2Fpdf&response-content-disposition=inline&Expires=1758902113&Key-Pair-Id=K2O2X5EIJK95L0&Signature=X0if4WzR23I0s61h~gW2s-92nGNXhQBHZp9bxl42HqMSMO1VYpybLmhtygyJfx5OvZL4NSoYHTYfH7-yZv02lRwtNSI~xYFAVVxPPFROzwblK66LwymsQWAE0xvwtI98eWQKBWop3rgHADqrUGIm1RBa2qm3Ydlj2HVtWmsrVn2OTMtnIuoyI50Z8iYmx6hcPLul6SazK4h18MMRRi5xnsa2shrGs36rLyRFlnDBObRFJBKmkH4Dn27PuCVrXQRHQwRUIyRCQAiLGSuVKDp~iWZqTld6qgDQOkq-0A54dv0r8O6hYZ5fPyX1ufeIJeaKaGKjKC9qAiOWl~wQe6-w9g__"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /verification-items/{itemId}/invalidate:
    post:
      tags:
        - Invalidar un documento
      summary: Invalidar un documento de una verificacion
      description: Invalida el documento de la verificación especificado.
      parameters:
        - name: itemId
          in: path
          required: true
          description: El ID del documento de verificación que se desea invalidar.
          schema:
            type: string
      requestBody:
        description: No se requiere un cuerpo en la solicitud.
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: sucessful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []
  /verifications/{verification-id}:
    get:
      tags:
        - Leer información de la empresa
      summary: Obtener una verificación por su ID
      description: |
        Retorna una verificación pública con sus items serializados.
        Consulta la guía de estructuras de `item_value` por tipo en [Respuestas por tipo de ítem](/docs/guia-devs/respuestas-por-tipo-de-item).
      operationId: getVerificationById
      parameters:
        - $ref: "#/components/parameters/verificationIdParam"
      responses:
        "200":
          description: Verificación recuperada exitosamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicVerification"
              examples:
                Success:
                  summary: Respuesta exitosa
                  value:
                    id: "c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                    account_id: "99999999-9999-9999-9999-999999999999"
                    status: "pending"
                    created_at: "2025-04-28T20:10:06.840Z"
                    updated_at: "2025-04-28T20:10:06.840Z"
                    tag: "etiqueta"
                    tax_id: "SAG160927GIA"
                    business_name: "Trebol OPCO"
                    friendly_name: "Empresa ACME S.A. de C.V."
                    flow_id: "documents-v2"
                    details_url: "https://app.gotrebol.com/verifications/c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                    onboarding_url: "https://onboarding.gotrebol.com/verification/c8dc41fc..."
                    items:
                      - id: 25440
                        item_status: "pending"
                        item_type: "csf_mx"
                        item_value: {}
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /v2/verifications/{verification-id}/{entity}:
    get:
      tags:
        - Leer información de la empresa
      summary: Obtener sección por ID de verificación
      description: |

        Retorna datos públicos v2 de una sección específica de una verificación a partir de su id.

        **Secciones disponibles:**
        - `details`: Detalles de la empresa (información legal, fiscal, registro, etc.)
        - `shareholders`: Accionistas y capital social
        - `people`: Personas clave, apoderados y representantes legales
        - `documents`: Documentos asociados a la verificación
        - `sources`: Fuentes de información (items) que alimentan la verificación

        **Fuentes (`sources`) y extracciones automáticas:** cuando la cuenta tiene una extracción automática activa para el tipo de ítem correspondiente, cada elemento en `data.sources` puede incluir `custom_user_prompts`: un objeto cuyas claves son el identificador editable de la extracción automática (`prompt_id`) y cuyos valores son el JSON extraído según el esquema de la versión en uso. Más detalle en la guía [Extracciones automáticas](/producto/guias/extracciones-automaticas).

        <Accordion title="Endpoints v1 (Legacy)">
          <Warning>
            Estos endpoints están en modo legacy. Te recomendamos migrar al endpoint v2 que consolida toda esta funcionalidad en un solo endpoint con mejor estructura de datos.
          </Warning>

          Los siguientes endpoints v1 están disponibles para compatibilidad con implementaciones existentes:

          - [Obtener estatutos de las actas por el ID de Verificacion](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-estatutos-de-las-actas-por-el-id-de-verificacion)
          - [Obtener documentos de la empresa por id de verificacion](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-documentos-de-la-empresa-por-id-de-verificacion)
          - [Obtener apoderados y representates legales de la empresa de las actas por el ID de Verificacion](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-apoderados-y-representates-legales-de-la-empresa-de-las-actas-por-el-id-de-verificacion)
          - [Obtener accionistas de la empresa de las actas por el ID de Verificacion](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-accionistas-de-la-empresa-de-las-actas-por-el-id-de-verificacion)
          - [Obtener datos de prevalidacion de documentos](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-datos-de-prevalidacion-de-documentos)
        </Accordion>
      parameters:
        - name: id
          in: path
          required: true
          description: ID de la verificación
          schema: { type: string }
        - name: entity
          in: path
          required: true
          description: Sección solicitada
          schema:
            type: string
            enum: [details, shareholders, people, documents, sources]
      responses:
        "200":
          description: Sección recuperada exitosamente.
          content:
            application/json:
              schema:
                oneOf:
                  - title: "Detalles de la empresa"
                    $ref: "#/components/schemas/V2PublicResponseDetails"
                  - title: "Accionistas"
                    $ref: "#/components/schemas/V2PublicResponseShareholders"
                  - title: "Personas"
                    $ref: "#/components/schemas/V2PublicResponsePeople"
                  - title: "Documentos"
                    $ref: "#/components/schemas/V2PublicResponseDocuments"
                  - title: "Fuentes"
                    $ref: "#/components/schemas/V2PublicResponseSources"
              examples:
                details:
                  $ref: "#/components/examples/V2DetailsExample"
                shareholders:
                  $ref: "#/components/examples/V2ShareholdersExample"
                people:
                  $ref: "#/components/examples/V2PeopleExample"
                documents:
                  $ref: "#/components/examples/V2DocumentsExample"
                sources:
                  $ref: "#/components/examples/V2SourcesExample"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /v2/companies/{etiqueta}/{section}:
    get:
      tags:
        - Leer información de la empresa
      summary: Obtener sección por etiqueta de empresa
      description: |
        Retorna datos públicos v2 de una sección específica de una empresa a partir de su etiqueta.

        **Secciones disponibles:**
        - `details`: Detalles de la empresa (información legal, fiscal, registro, etc.)
        - `shareholders`: Accionistas y capital social
        - `people`: Personas clave, apoderados y representantes legales
        - `documents`: Documentos asociados a la verificación
        - `sources`: Fuentes de información (items) que alimentan la verificación

        **Fuentes (`sources`) y extracciones automáticas:** cuando la cuenta tiene una extracción automática activo para el tipo de ítem correspondiente, cada elemento en `data.sources` puede incluir `custom_user_prompts`: un objeto cuyas claves son el identificador editable de la extracción automática (`prompt_id`) y cuyos valores son el JSON extraído según el esquema de la versión en uso. Más detalle en la guía [Extracciones automáticas](/producto/guias/extracciones-automaticas).

        <Accordion title="Endpoints v1 (Legacy)">
          <Warning>
            Estos endpoints están en modo legacy. Te recomendamos migrar al endpoint v2 que consolida toda esta funcionalidad en un solo endpoint con mejor estructura de datos.
          </Warning>

          Los siguientes endpoints v1 están disponibles para compatibilidad con implementaciones existentes:

          - [Obtener estatutos de las actas por la Etiqueta](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-estatutos-de-las-actas-por-la-etiqueta)
          - [Obtener documentos de la empresa](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-documentos-de-la-empresa)
          - [Obtener apoderados y representantes legales de la empresa de las actas por la Etiqueta](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-apoderados-y-representantes-legales-de-la-empresa-de-las-actas-por-la-etiqueta)
          - [Obtener accionistas de las actas de la empresa por la Etiqueta](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-accionistas-de-las-actas-de-la-empresa-por-la-etiqueta)
          - [Obtener la informacion de la prevalidacion de documentos asosciados a una empresa](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-la-informacion-de-la-prevalidacion-de-documentos-asosciados-a-una-empresa)
        </Accordion>
      parameters:
        - name: id
          in: path
          required: true
          description: Etiqueta de la empresa (tag)
          schema: { type: string }
        - name: section
          in: path
          required: true
          description: Sección solicitada
          schema:
            type: string
            enum: [details, shareholders, people, documents, sources]
      responses:
        "200":
          description: Sección recuperada exitosamente.
          content:
            application/json:
              schema:
                oneOf:
                  - title: "Detalles de la empresa"
                    $ref: "#/components/schemas/V2PublicResponseDetails"
                  - title: "Accionistas"
                    $ref: "#/components/schemas/V2PublicResponseShareholders"
                  - title: "Personas"
                    $ref: "#/components/schemas/V2PublicResponsePeople"
                  - title: "Documentos"
                    $ref: "#/components/schemas/V2PublicResponseDocuments"
                  - title: "Fuentes"
                    $ref: "#/components/schemas/V2PublicResponseSources"
              examples:
                details:
                  $ref: "#/components/examples/V2DetailsExample"
                shareholders:
                  $ref: "#/components/examples/V2ShareholdersExample"
                people:
                  $ref: "#/components/examples/V2PeopleExample"
                documents:
                  $ref: "#/components/examples/V2DocumentsExample"
                sources:
                  $ref: "#/components/examples/V2SourcesExample"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /v2/verifications/{verification-id}/export/{doc-template-id}:
    get:
      tags:
        - Exportación de Verificaciones
      summary: Exportar datos de verificación a documento personalizado
      description: |
        Exporta los datos de una verificación a un documento personalizado (PDF o Word) reemplazando los IDs con la información extraída.

        El endpoint recibe un documento que contiene IDs (marcadores de posición) que se encuentran documentados en la [sección de plantillas](/docs/plantillas/intro).
        Estos IDs serán reemplazados automáticamente con la información extraída de cada item de la verificación.

        **Funcionalidad:**
        - Genera un diccionario de variables únicas a partir de la información extraída
        - Reemplaza los IDs en el documento con la información correspondiente
        - Retorna el documento procesado con los datos actualizados

        **Tipos de documentos soportados:** PDF, Word (.docx)

      parameters:
        - $ref: "#/components/parameters/verificationIdParam"
        - in: path
          name: doc-template-id
          required: true
          description: El ID de la plantilla de documento. Ver [plantillas de documentos](/docs/plantillas/gestion).
          schema:
            type: string
      responses:
        "200":
          description: JSON con la url de descarga del archivo y otros datos adicionales.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Booleano que indica si la exportación fue exitosa.
                    example: true
                  message:
                    type: string
                    description: Mensaje de éxito.
                    example: "File generated successfully. Download URL provided."
                  download_url:
                    type: string
                    description: URL de descarga del archivo. Al acceder a ella se descargará el archivo automáticamente.
                    example: "https://www.gotrebol.com/download/file.pdf"
                  expires_in:
                    type: number
                    description: Tiempo de expiración del enlace en milisegundos(1 hora).
                    example: 3600000
                  size:
                    type: number
                    description: Tamaño del archivo en bytes.
                    example: 1000000
              examples:
                success:
                  summary: Exportación exitosa
                  value:
                    success: true
                    message: "File generated successfully. Download URL provided."
                    download_rl: "https://www.gotrebol.com/download/file.pdf"
                    expiresIn: 3600000
                    size: 1000000
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          description: Verificación sin items o datos insuficientes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "verification with no items"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []
    post:
      tags:
        - Exportación de Verificaciones
      summary: Exportar datos de verificación a documento personalizado con variables de apoderados
      description: |
        Exporta los datos de una verificación a un documento personalizado (PDF o Word) reemplazando los IDs con la información extraída, incluyendo el mapeo de variables de apoderados.

        Este endpoint permite especificar qué personas y roles se deben usar para llenar las variables de apoderados en la plantilla. Las variables en la plantilla deben usar la nomenclatura `{key_person_#}` donde `#` es un número (ej: `{key_person_1}`, `{key_person_2}`).

        **Funcionalidad:**
        - Genera un diccionario de variables únicas a partir de la información extraída
        - Reemplaza los IDs en el documento con la información correspondiente
        - Mapea las variables de apoderados (`{key_person_#}`) con las personas y roles especificados en el body
        - Retorna el documento procesado con los datos actualizados

        **Obtener IDs de personas y roles:**
        Los valores de `person_id` y `role_id` se pueden obtener del endpoint [Obtener sección por ID de verificación](/docs/api-reference/leer-información-de-la-empresa/obtener-sección-por-id-de-verificación) bajo la sección `/people`:
        - `person_id`: Se obtiene del campo `people_id` en cada objeto del array `key_people`
        - `role_id`: Se obtiene del campo `id` en cada objeto del array `roles` dentro de cada elemento de `key_people`

        **Tipos de documentos soportados:** PDF, Word (.docx)

      parameters:
        - $ref: "#/components/parameters/verificationIdParam"
        - in: path
          name: doc-template-id
          required: true
          description: El ID de la plantilla de documento. Ver [plantillas de documentos](/docs/plantillas/gestion).
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportWithKeyPeopleRequest"
            examples:
              basic:
                summary: Ejemplo básico con dos apoderados
                value:
                  key_people:
                    - key: "key_person_1"
                      person_id: 10
                      role_id: "role_123"
                    - key: "key_person_2"
                      person_id: 15
                      role_id: "role_456"
      responses:
        "200":
          description: JSON con la url de descarga del archivo y otros datos adicionales.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Booleano que indica si la exportación fue exitosa.
                    example: true
                  message:
                    type: string
                    description: Mensaje de éxito.
                    example: "File generated successfully. Download URL provided."
                  download_url:
                    type: string
                    description: URL de descarga del archivo. Al acceder a ella se descargará el archivo automáticamente.
                    example: "https://www.gotrebol.com/download/file.pdf"
                  expires_in:
                    type: number
                    description: Tiempo de expiración del enlace en milisegundos(1 hora).
                    example: 3600000
                  size:
                    type: number
                    description: Tamaño del archivo en bytes.
                    example: 1000000
              examples:
                success:
                  summary: Exportación exitosa
                  value:
                    success: true
                    message: "File generated successfully. Download URL provided."
                    download_url: "https://www.gotrebol.com/download/file.pdf"
                    expiresIn: 3600000
                    size: 1000000
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          description: Verificación sin items o datos insuficientes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "verification with no items"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /verifications/{verification-id}/labels:
    put:
      tags:
        - Labels de Verificacion
      summary: Actualizar labels de una verificacion
      description: Actualiza los labels de una verificación específica. Estos labels son útiles para identificar y buscar verificaciones.
      parameters:
        - in: path
          name: verification-id
          required: true
          description: El ID de la verificación.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label_ids:
                  type: array
                  description: |
                    Una lista de IDs de labels que se asignarán a la verificación.
                    Estos son los ID de los labels globales que se pueden asignar a las verificaciones:
                    - 1: "Verificación rechazada"
                    - 2: "Verificación aprobada"
                    - 3: "Verificación invalidada"
                  items:
                    type: number
                    example: 3
              example: |
                {
                  "label_ids": [3]
                }
      responses:
        "200":
          description: Labels actualizados exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Labels updated successfully"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /verifications/{verification-id}/key-people:
    put:
      tags:
        - Actualizar personas clave de una verificacion
      summary: Actualizar personas clave de una verificacion
      description: Actualiza las personas clave de una verificación específica.
      parameters:
        - in: path
          name: verification-id
          required: true
          description: El ID de la verificación.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key_people:
                  type: array
                  description: |
                    Una lista de personas clave que se asignarán a la verificación.
                    Cada persona clave debe tener un nombre y un alcance.
                  items:
                    type: object
                    properties:
                      names:
                        type: string
                        description: El nombre de la persona clave.
                      scope:
                        type: array
                        description: |
                          El alcance o las responsabilidades de la persona dentro de la empresa.
                        items:
                          type: string
                          example: "powers"
              example:
                {
                  "key_people":
                    [
                      { "names": "John Smith", "scope": ["powers"] },
                      { "names": "Jane Doe", "scope": ["powers"] },
                    ],
                }
      responses:
        "200":
          description: Personas clave actualizadas exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "added key people successfully"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /verifications/{verification-id}/add-items:
    put:
      tags:
        - Agregar items a una verificacion
      summary: Agregar items a una verificación existente
      description: |
        Agrega nuevos items/documentos a una verificación específica usando el id de la verificación.

        **Flujo de trabajo:**
        - **Paso 2 (Validación)**: Agregar items tipo `doc_validation` para validar documentos
        - **Paso 5 (Extracción)**: Agregar items de extracción real (`ac_mx`, `csf_mx`, etc.) basados en resultados de validación
      parameters:
        - in: path
          name: verification-id
          required: true
          description: El ID de la verificación.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  description: |
                    Una lista de ítems o documentos que serán agregados a la verificación, cada item debe tener un tipo y opciones.
                  items:
                    type: object
                    required:
                      - type
                      - options
                    properties:
                      type:
                        type: string
                        description: |
                          El tipo de documento o ítem a procesar.
                          - Para **Paso 2 (Validación)**: usar `doc_validation`
                          - Para **Paso 5 (Extracción)**: usar tipos específicos como `ac_mx`, `csf_mx`, `union_documents_extractor`
                        enum:
                          [
                            "doc_validation",
                            "ac_mx",
                            "csf_mx",
                            "union_documents_extractor",
                            "generic",
                          ]
                        example: "doc_validation"
                      tags:
                        type: object
                        description: Mapa de etiquetas que se asignarán al ítem como pares clave-valor.
                        additionalProperties:
                          type: string
                        example:
                          client_id: "some-client-id"
                      options:
                        type: object
                        required:
                          - file_url
                        description: Opciones adicionales para el ítem, como el alcance de las personas involucradas.
                        properties:
                          file_url:
                            type: string
                            description: URL de un archivo presignado que se puede descargar para el ítem a verificar.
                            example: "https://www.googleapis.com/downloadableFile"
                          constancia_type:
                            type: string
                            description: Tipo de constancia para items csf_mx (opcional). Especifica si es para empresa o individuo.
                            enum: ["business", "individual"]
                            example: "business"
                          people_scope:
                            type: array
                            description: Especifica el alcance de las personas que deben ser consideradas en la verificación.
                            items:
                              type: string
                              example: "powers"
                          client_item_type:
                            $ref: "#/components/schemas/ClientItemType"
            examples:
              Step2Validation:
                summary: Paso 2 - Validación de documentos
                value:
                  items:
                    - type: "doc_validation"
                      options:
                        file_url: "https://www.googleapis.com/downloadableFile"
                      tags:
                        some: "tag value"
              Step5Extraction:
                summary: Paso 5 - Extracción de información
                value:
                  items:
                    - type: "ac_mx"
                      options:
                        file_url: "https://www.googleapis.com/downloadableFile"
                      tags:
                        some: "tag value"
                    - type: "union_documents_extractor"
                      options:
                        file_url: "https://www.googleapis.com/downloadableFile"
                      tags:
                        some: "tag value"
                    - type: "csf_mx"
                      options:
                        file_url: "https://www.googleapis.com/downloadableFile"
                        constancia_type: "business"
                      tags:
                        some: "tag value"
      responses:
        "200":
          description: Items agregados exitosamente a la verificación.
          content:
            application/json:
              schema:
                type: array
                description: Lista de items agregados con sus IDs asignados.
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: ID del ítem/documento.
                      example: 25440
                    item_status:
                      type: string
                      description: Estado del ítem/documento.
                      example: "pending"
                      enum: [pending, complete]
                    item_type:
                      type: string
                      description: Tipo de ítem/documento.
                      example: "ubos"
                    item_value:
                      type: object
                      description: Valores especificos del ítem/documento.
                    item_options:
                      type: object
                      description: Opciones adicionales del ítem/documento que afectan al proceso interno del mismo.
                      properties:
                        is_optional:
                          type: boolean
                          description: Indica si el ítem/documento es opcional.
                          example: true
                      nullable: true
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /verifications/{verification-id}/record_validation:
    get:
      tags:
        - Estado de validacion de documentos
      summary: Obtener estado de validacion de documentos por el ID de Verificacion
      description: Obtener el estado de validacion de documentos de una verificacion usando el id de la verificación.
      parameters:
        - in: path
          name: verification-id
          required: true
          description: El ID de la verificación.
          schema:
            type: string
      responses:
        "200":
          description: Estado de validacion de documentos recuperado exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: number
                        example: 2
                      requirements:
                        type: object
                  verification:
                    type: object
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /account-flows:
    get:
      tags: ["Gestión de Flujos de Cuenta"]
      summary: Listar flujos de cuenta
      description: Obtiene una lista de todos los flujos de cuenta
      responses:
        "200":
          description: Lista de flujos recuperada exitosamente
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: "#/components/schemas/AccountFlow"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

    post:
      tags: ["Gestión de Flujos de Cuenta"]
      summary: Crear nuevo flujo
      description: |
        Crea un nuevo flujo de cuenta. Visita la [guía de desarrollo](/docs/guia-devs/personalizar-widget) para más información.

        > **Nota:** El cuerpo de la solicitud está limitado a **200 KB** por nuestro WAF. Si tu configuración (reglas de validación, esquemas de formulario, listas de `flow_items`, etc.) supera este tamaño, la solicitud será rechazada antes de llegar al backend. Revisa las [recomendaciones de la guía](/guia-devs/account-flows) para mantenerte dentro del límite.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/AccountFlowCreate"
            examples:
              CreateFlow:
                summary: Crear nuevo flujo de cuenta
                value:
                  friendly_name: "A FLOW name test"
                  id_slug: "id-test-flow"
                  flow_items:
                    id: "enterprise-example-2"
                    items:
                      - type: "rues"
                        options:
                          nit: ""
                      - type: "ubos"
                        options:
                          ubos_data_extraction: true
                      - type: "forms"
                        options:
                          schema_id: "some-test-form-schema"
                          is_optional: true
                    options:
                      creator_email: "jsmith@example.com"
                      next_steps_checkout:
                        - title: "Documentos adicionales"
                          description: "Es posible que se necesiten documentos adicionales para completar tu onboarding. En ese caso nos pondremos en contacto contigo."
                        - title: "Firma del contrato"
                          description: "Cuando se complete toda la información, un representante de ventas se pondrá en contacto contigo para firmar el contrato."
                  record_validation_schema:
                    version: 2
                    requirements:
                      doc_1:
                        ui_options:
                          label: "Poderes del representante legal"
                          description: "Documento que certifica que el representante legal tiene los poderes para representar a la empresa."
                          conditional_render: true
                          conditional_render_label: "¿Los poderes del representante legal figuran en un acta de asamblea o poder notarial?"
                        allowed_item_types:
                          - "pw_mx"
                          - "ac_mx"
                          - "aa_mx"
                    optional_requirements: {}
                  country: "mx"
      responses:
        "201":
          description: Flujo creado exitosamente
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/AccountFlow"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /account-flows/{id_slug}:
    get:
      tags: ["Gestión de Flujos de Cuenta"]
      summary: Obtener flujo por ID
      description: Recupera un flujo de cuenta específico por su id_slug.
      parameters:
        - name: id_slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Flujo recuperado exitosamente
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/AccountFlow"
                  - type: object
                    properties:
                      country:
                        type: string
                        enum: ["mx", "co"]
                        description: País al que pertenece el flujo
                      id_slug:
                        type: string
                        description: Identificador único del flujo
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

    delete:
      operationId: deleteAccountFlow
      tags: ["Gestión de Flujos de Cuenta"]
      summary: Eliminar flujo existente
      description: Elimina un flujo de cuenta existente por su id_slug
      parameters:
        - name: id_slug
          in: path
          required: true
          description: Identificador único del flujo a eliminar
          schema:
            type: string
      responses:
        "200":
          description: Flujo eliminado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Flujo eliminado correctamente"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

    put:
      tags: ["Gestión de Flujos de Cuenta"]
      summary: Actualizar flujo existente
      description: |
        Actualiza un flujo de cuenta existente por su id_slug.

        > **Nota:** El cuerpo de la solicitud está limitado a **200 KB** por nuestro WAF. Si tu configuración (reglas de validación, esquemas de formulario, listas de `flow_items`, etc.) supera este tamaño, la solicitud será rechazada antes de llegar al backend. Revisa las [recomendaciones de la guía](/guia-devs/account-flows) para mantenerte dentro del límite.
      parameters:
        - name: id_slug
          in: path
          required: true
          description: Identificador único del flujo a actualizar
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/AccountFlowUpdate"
                - type: object
                  properties:
                    country:
                      type: string
                      enum: ["mx", "co"]
                      description: País al que pertenece el flujo
      responses:
        "200":
          description: Flujo actualizado exitosamente
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/AccountFlow"
                  - type: object
                    properties:
                      country:
                        type: string
                        enum: ["mx", "co"]
                        description: País al que pertenece el flujo
                      id_slug:
                        type: string
                        description: Identificador único del flujo
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /v2/form-schemas:
    get:
      tags: ["Gestión de Esquemas de Formularios"]
      summary: Listar esquemas de formularios
      description: Obtiene una lista de todos los esquemas de formularios de la cuenta
      responses:
        "200":
          description: Lista de esquemas recuperada exitosamente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PublicFormSchema"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

    post:
      tags: ["Gestión de Esquemas de Formularios"]
      summary: Crear nuevo esquema de formulario
      description: |
        Crea un nuevo esquema de formulario para la cuenta.

        > **Nota:** El cuerpo de la solicitud está limitado a **200 KB** por nuestro WAF. Si tu esquema (campos, `ui_label`, `description`, validaciones, etc.) supera este tamaño, la solicitud será rechazada antes de llegar al backend. Considera dividir formularios muy grandes en varios esquemas más pequeños.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: ["name", "id_schema", "ui_schema_definition"]
              properties:
                name:
                  type: string
                  description: Nombre del esquema de formulario
                  example: "Formulario de Onboarding"
                id_schema:
                  type: string
                  description: Identificador único del esquema
                  example: "onboarding-form"
                ui_schema_definition:
                  $ref: "#/components/schemas/UISchemaField"
      responses:
        "200":
          description: Esquema creado exitosamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicFormSchema"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /v2/form-schemas/{id_schema}:
    get:
      tags: ["Gestión de Esquemas de Formularios"]
      summary: Obtener esquema por ID
      description: Recupera un esquema de formulario específico por su id_schema
      parameters:
        - name: id_schema
          in: path
          required: true
          schema:
            type: string
            description: Identificador único del esquema
      responses:
        "200":
          description: Esquema recuperado exitosamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicFormSchema"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

    put:
      tags: ["Gestión de Esquemas de Formularios"]
      summary: Actualizar esquema existente
      description: |
        Actualiza un esquema de formulario existente por su id_schema.

        > **Nota:** El cuerpo de la solicitud está limitado a **200 KB** por nuestro WAF. Si tu esquema (campos, `ui_label`, `description`, validaciones, etc.) supera este tamaño, la solicitud será rechazada antes de llegar al backend. Considera dividir formularios muy grandes en varios esquemas más pequeños.
      parameters:
        - name: id_schema
          in: path
          required: true
          schema:
            type: string
            description: Identificador único del esquema
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nombre del esquema de formulario
                ui_schema_definition:
                  $ref: "#/components/schemas/UISchemaField"
      responses:
        "200":
          description: Esquema actualizado exitosamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicFormSchema"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

    delete:
      tags: ["Gestión de Esquemas de Formularios"]
      summary: Eliminar esquema existente
      description: Elimina un esquema de formulario existente por su id_schema
      parameters:
        - name: id_schema
          in: path
          required: true
          schema:
            type: string
            description: Identificador único del esquema
      responses:
        "200":
          description: Esquema eliminado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Form schema deleted successfully"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /whitelist-ips:
    get:
      tags:
        - Gestión de IPs Permitidas
      summary: Obtener lista de IPs permitidas para hacer llamadas a la API
      description: |
        Obtiene la lista de IPs permitidas para la cuenta del cliente. Si no hay IPs configuradas, 
        no se realiza validación de origen de las llamadas a la API. Si hay al menos una IP configurada, 
        todas las llamadas a la API deben provenir de estas IPs.
      responses:
        "200":
          description: Lista de IPs permitidas recuperada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ips:
                    type: array
                    description: Lista de direcciones IP permitidas (IPv4 e IPv6).
                    items:
                      type: string
                      pattern: '^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$|^(?:[0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}$|^(?:[0-9a-fA-F]{1,4}:){1,7}:$|^(?:[0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}$|^(?:[0-9a-fA-F]{1,4}:){1,5}(?::[0-9a-fA-F]{1,4}){1,2}$|^(?:[0-9a-fA-F]{1,4}:){1,4}(?::[0-9a-fA-F]{1,4}){1,3}$|^(?:[0-9a-fA-F]{1,4}:){1,3}(?::[0-9a-fA-F]{1,4}){1,4}$|^(?:[0-9a-fA-F]{1,4}:){1,2}(?::[0-9a-fA-F]{1,4}){1,5}$|^[0-9a-fA-F]{1,4}:(?:(?::[0-9a-fA-F]{1,4}){1,6})$|^:(?:(?::[0-9a-fA-F]{1,4}){1,7}|:)$'
                    example: ["192.168.1.1", "10.0.0.0/24", "2001:db8::1"]
                  count:
                    type: integer
                    description: Número total de IPs permitidas.
                    example: 3
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

    post:
      tags:
        - Gestión de IPs Permitidas
      summary: Agregar IPs a la lista de permitidas para hacer llamadas a la API
      description: |
        Agrega una o más direcciones IP a la lista de IPs permitidas. Si es la primera IP que se agrega, 
        automáticamente se activa la validación de origen para todas las llamadas a la API.
        Máximo 100 IPs permitidas por cuenta.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ips
              properties:
                ips:
                  type: array
                  description: Lista de direcciones IP a agregar (IPv4 e IPv6).
                  minItems: 1
                  maxItems: 100
                  items:
                    type: string
                    pattern: '^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$|^(?:[0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}$|^(?:[0-9a-fA-F]{1,4}:){1,7}:$|^(?:[0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}$|^(?:[0-9a-fA-F]{1,4}:){1,5}(?::[0-9a-fA-F]{1,4}){1,2}$|^(?:[0-9a-fA-F]{1,4}:){1,4}(?::[0-9a-fA-F]{1,4}){1,3}$|^(?:[0-9a-fA-F]{1,4}:){1,3}(?::[0-9a-fA-F]{1,4}){1,4}$|^(?:[0-9a-fA-F]{1,4}:){1,2}(?::[0-9a-fA-F]{1,4}){1,5}$|^[0-9a-fA-F]{1,4}:(?:(?::[0-9a-fA-F]{1,4}){1,6})$|^:(?:(?::[0-9a-fA-F]{1,4}){1,7}|:)$'
            examples:
              SingleIP:
                summary: Agregar una sola IP
                value:
                  ips: ["192.168.1.1"]
              MultipleIPs:
                summary: Agregar múltiples IPs
                value:
                  ips: ["192.168.1.1", "10.0.0.0/24", "2001:db8::1"]
      responses:
        "200":
          description: IPs added successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "IPs added successfully"
                  added_ips:
                    type: array
                    description: Lista de IPs que fueron agregadas.
                    items:
                      type: string
                    example: ["192.168.1.1", "10.0.0.0/24"]
                  total_ips:
                    type: integer
                    description: Número total de IPs permitidas después de la operación.
                    example: 5
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "413":
          description: Maximum number of IPs (100) would be exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                IpsLimitExceeded:
                  summary: Límite de IPs excedido
                  value:
                    success: false
                    message: "Maximum number of IPs (100) would be exceeded"
                    current_count: 100
                    max_allowed: 100
                    request_count: 101
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

    delete:
      tags:
        - Gestión de IPs Permitidas
      summary: Eliminar todas las IPs permitidas
      description: |
        Elimina todas las IPs de la lista de permitidas. Después de esta operación, 
        no se realizará validación de origen para las llamadas a la API.
      responses:
        "200":
          description: All IPs have been deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "All IPs have been deleted"
                  deleted_count:
                    type: integer
                    description: Número de IPs que fueron eliminadas.
                    example: 5
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /whitelist-ips/{ip}:
    delete:
      tags:
        - Gestión de IPs Permitidas
      summary: Eliminar IP específica de la lista de permitidas
      description: |
        Elimina una dirección IP específica de la lista de IPs permitidas. 
        Si se elimina la última IP, se desactiva la validación de origen.
      parameters:
        - name: ip
          in: path
          required: true
          description: |
            Dirección IP a eliminar (IPv4 o IPv6).
            Para eliminar una IP con formato CIDR, es necesario codificar el `/` como `%2F`. Por ejemplo, para eliminar la IP `10.0.0.0/24`, la URL deberia ser `/whitelist-ips/10.0.0.0%2F24`.
          schema:
            type: string
            pattern: '^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$|^(?:[0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}$|^(?:[0-9a-fA-F]{1,4}:){1,7}:$|^(?:[0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}$|^(?:[0-9a-fA-F]{1,4}:){1,5}(?::[0-9a-fA-F]{1,4}){1,2}$|^(?:[0-9a-fA-F]{1,4}:){1,4}(?::[0-9a-fA-F]{1,4}){1,3}$|^(?:[0-9a-fA-F]{1,4}:){1,3}(?::[0-9a-fA-F]{1,4}){1,4}$|^(?:[0-9a-fA-F]{1,4}:){1,2}(?::[0-9a-fA-F]{1,4}){1,5}$|^[0-9a-fA-F]{1,4}:(?:(?::[0-9a-fA-F]{1,4}){1,6})$|^:(?:(?::[0-9a-fA-F]{1,4}){1,7}|:)$'
            example: "192.168.1.1"
      responses:
        "200":
          description: IP eliminada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "IP eliminada exitosamente"
                  deleted_ip:
                    type: string
                    description: IP que fue eliminada.
                    example: "192.168.1.1"
                  remaining_ips:
                    type: integer
                    description: Número de IPs restantes en la lista.
                    example: 4
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /api-keys:
    get:
      tags:
        - Gestión de API Keys
      summary: Listar API keys
      description: |
        Obtiene la lista del id y la fecha de creación de todas las API keys asociadas a la cuenta del usuario.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Lista de API keys obtenida exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_keys:
                    type: array
                    description: Lista de API keys de la cuenta
                    items:
                      $ref: "#/components/schemas/ApiKeyInfo"
              examples:
                Success:
                  summary: Respuesta exitosa
                  value:
                    api_keys:
                      - id: "ak_1234567890abcdef"
                        created_at: "2024-01-15T10:30:00Z"
                      - id: "ak_0987654321fedcba"
                        created_at: "2024-01-10T14:20:00Z"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
        - Gestión de API Keys
      summary: Crear nueva API key
      description: |
        Crea una nueva API key para la cuenta del usuario.
        La API key se genera automáticamente y se retorna una sola vez.
      security:
        - ApiKeyAuth: []
      requestBody:
        description: Datos para crear la nueva API key
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: Identificador único para la API key
                  example: "my-api-key-1"
            examples:
              CreateApiKey:
                summary: Crear nueva API key
                value:
                  id: "my-api-key-1"
      responses:
        "201":
          description: API key creada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID único de la API key
                    example: "ak_1234567890abcdef"
                  api_key:
                    type: string
                    description: La API key generada (solo se muestra una vez)
                    example: "treb_sk_live_1234567890abcdef1234567890abcdef1234567890abcdef"
                  created_at:
                    type: string
                    format: date-time
                    description: Fecha y hora de creación
                    example: "2024-01-15T10:30:00Z"
              examples:
                Success:
                  summary: API key creada
                  value:
                    id: "ak_1234567890abcdef"
                    api_key: "treb_sk_live_1234567890abcdef1234567890abcdef1234567890abcdef"
                    created_at: "2024-01-15T10:30:00Z"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api-keys/{apiKeyId}:
    delete:
      tags:
        - Gestión de API Keys
      summary: Eliminar API key
      description: |
        Elimina una API key específica de la cuenta del usuario.
        La eliminación es inmediata y no se puede deshacer.
        Se puede autenticar con cualquier API key válida de la cuenta.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: apiKeyId
          in: path
          required: true
          description: ID de la API key a eliminar
          schema:
            type: string
            example: "ak_1234567890abcdef"
      responses:
        "200":
          description: API key eliminada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "API key eliminada exitosamente"
              examples:
                Success:
                  summary: API key eliminada
                  value:
                    message: "API key eliminada exitosamente"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v2/retention-policy:
    get:
      tags:
        - Gestión de Política de Retención
      summary: Obtener política de retención actual
      description: |
        Obtiene la política de retención de datos configurada para la cuenta.
        Si no hay política configurada, retorna la política por defecto.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Política de retención obtenida exitosamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetentionPolicy"
              example:
                retention_days: 30
        "401":
          description: No autorizado. API key inválida o faltante.
        "500":
          description: Error interno del servidor.

    post:
      tags:
        - Gestión de Política de Retención
      summary: Crear política de retención
      description: |
        Crea una nueva política de retención de datos para la cuenta.
        Si ya existe una política, retorna un error.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetentionPolicyRequest"
            example:
              retention_days: 30
      responses:
        "201":
          description: Política de retención creada exitosamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetentionPolicy"
              example:
                retention_days: 30
        "400":
          description: |
            Solicitud inválida. Posibles causas:
            - retention_days fuera del rango permitido (1-3650)
            - Ya existe una política de retención
        "401":
          description: No autorizado. API key inválida o faltante.
        "500":
          description: Error interno del servidor.

    put:
      tags:
        - Gestión de Política de Retención
      summary: Actualizar política de retención
      description: |
        Actualiza la política de retención de datos existente para la cuenta.
        Si no existe una política, la crea.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetentionPolicyRequest"
            example:
              retention_days: 60
      responses:
        "200":
          description: Política de retención actualizada exitosamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetentionPolicy"
              example:
                retention_days: 60
        "400":
          description: |
            Solicitud inválida. Posibles causas:
            - retention_days fuera del rango permitido (1-3650)
        "401":
          description: No autorizado. API key inválida o faltante.
        "500":
          description: Error interno del servidor.

    delete:
      tags:
        - Gestión de Política de Retención
      summary: Eliminar política de retención
      description: |
        Elimina la política de retención de datos de la cuenta.
        Después de esta operación, se aplicará la política por defecto del sistema.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Política de retención eliminada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Política de retención eliminada exitosamente"
        "401":
          description: No autorizado. API key inválida o faltante.
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          description: Error interno del servidor.

  /v2/webhooks:
    get:
      tags:
        - Gestión de Webhooks
      summary: Listar webhooks
      description: |
        Obtiene la lista de webhooks configurados para tu cuenta. Cada webhook define una URL de destino,
        eventos suscritos y metadatos para la firma de seguridad.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Lista de webhooks obtenida exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: "#/components/schemas/WebhookGet"
              examples:
                Success:
                  summary: Respuesta exitosa
                  value:
                    - id: "wh_123"
                      url: "https://example.com/webhooks/trebol"
                      events: ["verification.v2.created"]
                      status: "enabled"
                      description: "Webhook principal de producción"
                      created_at: "2025-08-20T10:00:00Z"
                      updated_at: "2025-08-20T10:00:00Z"
        "401":
          description: No autorizado - API key inválida.
        "500":
          description: Error interno del servidor.
    post:
      tags:
        - Gestión de Webhooks
      summary: Crear webhook
      description: |
        Crea un nuevo webhook para tu cuenta. Por seguridad, el secreto solo se muestra una vez en la creación.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookCreate"
            examples:
              CreateWebhook:
                summary: Crear webhook con eventos por defecto
                value:
                  url: "https://example.com/webhooks/trebol"
                  events:
                    ["verification.v2.created", "verification.v2.finished"]
                  description: "Webhook principal de producción"
      responses:
        "201":
          description: Webhook creado exitosamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
              examples:
                Success:
                  summary: Webhook creado
                  value:
                    id: "wh_123"
                    url: "https://example.com/webhooks/trebol"
                    events:
                      ["verification.v2.created", "verification.v2.finished"]
                    status: "enabled"
                    description: "Webhook principal de producción"
                    secret: "whsec_XXXXXXXXXXXXXXXXXXXXXXXX"
                    created_at: "2025-08-20T10:00:00Z"
                    updated_at: "2025-08-20T10:00:00Z"
        "400":
          description: Datos de entrada inválidos.
        "401":
          description: No autorizado - API key inválida.
        "500":
          description: Error interno del servidor.

  /v2/webhooks/{webhookId}:
    get:
      tags:
        - Gestión de Webhooks
      summary: Obtener webhook
      description: Obtiene la configuración de un webhook específico.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/webhookIdParam"
      responses:
        "200":
          description: Webhook obtenido exitosamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookGet"
              examples:
                Success:
                  value:
                    id: "wh_123"
                    url: "https://example.com/webhooks/trebol"
                    events: ["verification.v2.created"]
                    status: "enabled"
                    description: "Webhook principal de producción"
                    created_at: "2025-08-20T10:00:00Z"
                    updated_at: "2025-08-20T10:00:00Z"
        "401":
          description: No autorizado
        "404":
          description: Webhook no encontrado
    put:
      tags:
        - Gestión de Webhooks
      summary: Actualizar webhook
      description: Actualiza la URL, eventos, descripción o estado activo del webhook.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/webhookIdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdate"
            examples:
              UpdateWebhook:
                value:
                  url: "https://example.com/webhooks/trebol-v2"
                  events:
                    ["verification.v2.created", "verification.v2.finished"]
                  active: true
      responses:
        "200":
          description: Webhook actualizado exitosamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookGet"
        "400":
          description: Datos de entrada inválidos
        "401":
          description: No autorizado
        "404":
          description: Webhook no encontrado
    delete:
      tags:
        - Gestión de Webhooks
      summary: Eliminar webhook
      description: Elimina un webhook específico.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/webhookIdParam"
      responses:
        "200":
          description: Webhook eliminado exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Webhook eliminado exitosamente"
        "401":
          description: No autorizado
        "404":
          description: Webhook no encontrado

  /companies/{etiqueta}/details:
    get:
      tags:
        - Leer información de la empresa v1
      summary: Obtener estatutos de las actas por la Etiqueta
      description: Obtener información detallada de los estatutos e información fiscal sobre una empresa específica usando su etiqueta.
      parameters:
        - $ref: "#/components/parameters/etiquetaParam"
      responses:
        "200":
          description: Detalles de la empresa recuperados exitosamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyDetailsResponse"
              examples:
                Success:
                  summary: Respuesta exitosa
                  value:
                    fields:
                      business_name:
                        value: "TREBOL OPCO S.A. DE C.V."
                        businessType: "company"
                        sourceLines: ["Acta #123", "SIGER"]
                      tax_id:
                        value: "SAG160927GIA"
                    verification:
                      id: "c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                      tag: "etiqueta"
                      status: "pending"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /companies/{etiqueta}/documents:
    get:
      tags:
        - Leer información de la empresa v1
      summary: Obtener documentos de la empresa
      description: Obtener documentos que se han subido por el cliente o que encontrado en portales oficiales del gobierno. Se usa la etiqueta asignada para obtener la información.
      parameters:
        - in: path
          name: etiqueta
          required: true
          description: La etiqueta del cliente.
          schema:
            type: string
      responses:
        "200":
          description: Documentos de la empresa recuperados exitosamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyDocumentsResponse"
              examples:
                Success:
                  summary: Respuesta exitosa
                  value:
                    documents:
                      - label: "Constancia de situación fiscal"
                        url: "https://..."
                      - label: "Acta constitutiva"
                        url: "https://..."
                    verification:
                      id: "c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                      tag: "etiqueta"
                      status: "pending"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /companies/{etiqueta}/people:
    get:
      tags:
        - Leer información de la empresa v1
      summary: Obtener apoderados y representantes legales de la empresa de las actas por la Etiqueta
      description: Obtener la lista de apoderados y representantes legales analizados de la empresa. Se obtiene la lista de apoderados, sus roles, facultades, vigencias, limitaciones, y tipos de firma.
      parameters:
        - in: path
          name: etiqueta
          required: true
          description: La etiqueta del cliente.
          schema:
            type: string
      responses:
        "200":
          description: Signatarios de la empresa recuperados exitosamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyPeopleResponse"
              examples:
                Success:
                  summary: Respuesta exitosa
                  value:
                    data:
                      key_people:
                        - names: "Juan Pérez"
                          role: "apoderado"
                          powers: { overall: "has_power" }
                      full_list:
                        - names: "Juan Pérez"
                          role: "apoderado"
                        - names: "María Gómez"
                          role: "representante legal"
                      board_members:
                        - name: "Ana López"
                          event: "addition"
                    verification:
                      id: "c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                      tag: "etiqueta"
                      status: "pending"
[...]
