openapi: 3.0.0
info:
  title: Coleccion de API KYB MX
  description: |
    La Colección de API KYB MX proporciona puntos finales para crear y gestionar verificaciones de empresas en México. La verificación de empresas implica validar la información proporcionada por un cliente comercial, incluyendo documentos y fuentes de datos, para asegurar su legitimidad y precisión.

    Cada verificación de empresa puede incluir múltiples ítems, como Actas Constitutivas, Constancias de Situación Fiscal, Identificaciones Personales y Comprobantes de Domicilio. Trebol maneja automáticamente la clasificación de documentos, lo que te permite enviar todos los documentos requeridos como URLs descargables (por ejemplo, URLs prefirmadas de AWS o GCP).

    **Autenticación**: 
    La API utiliza una clave API para la autenticación, pasada en el encabezado `x-api-key`. Para obtener una clave API, por favor [contáctanos](mailto:sales@gotrebol.com).

  version: 1.0.0

servers:
  - url: https://api.gotrebol.com
  - url: http://{{trebol_api_base_url}}

tags:
  - name: Creacion de Verificacion
    description: Endpoints para crear nuevas verificaciones.
  - name: Leer información de la empresa
    description: Endpoints v2 para obtener información detallada de empresas y verificaciones.
  - name: Leer por Etiqueta
    description: Endpoints para obtener información detallada sobre empresas mediante etiquetas.
  - name: Leer por ID de Verificacion
    description: Endpoints para obtener información detallada sobre verificaciones mediante ID.
  - name: Gestión de IPs Permitidas
    description: Endpoints para gestionar la lista de IPs permitidas (whitelist) para la cuenta del cliente.
  - name: Gestión de API Keys
    description: Endpoints para crear, listar y eliminar API keys de la cuenta del usuario.
  - name: Gestion de item Ids
    description: Endpoints para gestionar items de verificaciones.
  - name: Invalidar un documento
    description: Endpoints para invalidar documentos de verificaciones.
  - name: Labels de Verificacion
    description: Endpoints para gestionar labels de verificaciones.
  - name: Actualizar personas clave de una verificacion
    description: Endpoints para actualizar personas clave de verificaciones.
  - name: Agregar items a una verificacion
    description: Endpoints para agregar items a verificaciones existentes.
  - name: Estado de validacion de documentos
    description: Endpoints para obtener el estado de validación de documentos.
  - name: Gestión de Flujos de Cuenta
    description: Endpoints para gestionar flujos de cuenta.
  - name: Gestión de Webhooks
    description: Endpoints para crear, listar, actualizar y eliminar webhooks de la cuenta.
  - name: Gestión de Política de Retención
    description: Endpoints para gestionar la política de retención de datos de la cuenta.
  - name: Exportación de Verificaciones
    description: Endpoints para exportar datos de verificaciones a documentos personalizados.
  - name: Leer información de la empresa v1
    description: Endpoints v1 (legacy) para obtener información detallada de empresas y verificaciones. Te recomendamos migrar a los endpoints v2.
  - name: Tipos de Ítem Personalizados
    description: Endpoints para crear y gestionar tipos de ítem personalizados con procesos configurables de clasificación, validación y extracción.
  - name: Síntesis de Dictamen
    description: Endpoints para ejecutar bajo demanda la Síntesis de Dictamen (`findings`) de una verificación.

paths:
  /verifications:
    post:
      operationId: crearNuevaVerificacion
      tags:
        - Creacion de Verificacion
      summary: Crear una nueva verificación
      description: |
        Inicia una nueva verificación con los documentos especificados.

        **Nota:** Este endpoint permite crear verificaciones de empresas con documentos y configuraciones personalizadas.
      security:
        - ApiKeyAuth: []
      requestBody:
        description: |
          Hay dos formas de crear una verificacion, usando un flujo predefinido, el cual ya contiene todos los items y configuraciones necesarias o bien 
          pasando un array de items a verificar, la cual permite crear una verificacion con items personalizados, sin un flujo predefinido.
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/VerificationWithFlowId"
                - $ref: "#/components/schemas/VerificationWithItems"
            examples:
              ConFlowId:
                summary: Usando flow_id
                value:
                  country: "mx"
                  tag: "etiqueta"
                  flow_id: "some-flow-id"
                  friendly_name: "Empresa ACME S.A. de C.V."
                  metadata:
                    some: "value"
                  key_people:
                    - names: "John Doe"
                      scope: ["powers"]
              ConItems:
                summary: Usando items
                value:
                  country: "mx"
                  tag: "etiqueta"
                  friendly_name: "Juan Pérez López"
                  items:
                    - type: "generic"
                      options:
                        file_url: "https://www.somepresignedURL.com/withDownloadableFile"
                        client_item_type: "ac_mx"
                    - type: "generic"
                      options:
                        file_url: "https://www.somepresignedURL.com/withDownloadableFile"
                        people_scope: ["powers"]
                        client_item_type: "person_id"
                  metadata:
                    some: "value"
                  key_people:
                    - names: "John Doe"
                      scope: ["powers"]
              ConTipoItemPersonalizado:
                summary: Usando un tipo de ítem personalizado
                description: |
                  Cuando tienes un tipo de ítem personalizado creado vía `/v2/custom-item-types`,
                  usa su `name` como valor de `type` en el ítem.
                  Consulta la guía [Tipos de ítem personalizados](/producto/guias/tipos-de-item-personalizados).
                value:
                  country: "mx"
                  tag: "empresa-ejemplo-001"
                  friendly_name: "Empresa ACME S.A. de C.V."
                  items:
                    - type: "cit_contrato_arrendamiento"
                      options:
                        file_url: "https://www.somepresignedURL.com/withDownloadableFile"
      responses:
        "201":
          description: Verificación creada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID de la verificación creada.
                    example: "c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                  status:
                    type: string
                    description: Estado actual de la verificación.
                    example: "pending"
                  account_id:
                    type: string
                    format: uuid
                    description: ID de la cuenta asociada.
                    example: "99999999-9999-9999-9999-999999999999"
                  created_at:
                    type: string
                    format: date-time
                    description: Fecha y hora de creación de la verificación.
                    example: "2025-04-28T20:10:06.840Z"
                  updated_at:
                    type: string
                    format: date-time
                    description: Fecha y hora de última actualización de la verificación.
                    example: "2025-04-28T20:10:06.840Z"
                  flow_id:
                    type: string
                    description: Identificador del flujo de verificación utilizado.
                    example: "documents-v2"
                  documents_status:
                    type: string
                    enum:
                      [
                        pending_upload,
                        partial_upload,
                        pending_external,
                        full_upload,
                      ]
                    description: Estado de la colección de documentos.
                    example: "pending_upload"
                  onboarding_url:
                    type: string
                    format: uri
                    description: Link de onboarding para el cliente. Usa el dominio default de Trébol, o el dominio personalizado de la cuenta cuando está verificado (ver "Personalizar el widget").
                    example: "https://onboarding.gotrebol.com/verification/c8dc41fc-c477-404e-aff7-b9074f86d6d1/docs-v2?accessToken=accesstokenid32432434&country=mx&client=99999999-9999-9999-9999-999999999999"
                  details_url:
                    type: string
                    format: uri
                    description: Link al reporte de la verificación.
                    example: "https://app.gotrebol.com/verifications/c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                  access_token:
                    type: string
                    description: Token de acceso JWT para la sesión de verificación.
                    example: "eyJhbGciOiJIUzI1NiJ9..."
                  items:
                    type: array
                    description: Lista de ítems/documentos a verificar.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: ID del ítem/documento.
                          example: 25440
                        item_status:
                          type: string
                          description: Estado del ítem/documento.
                          example: "pending"
                          enum: [pending, complete]
                        item_type:
                          type: string
                          description: Tipo de ítem/documento.
                          example: "ubos"
                        item_internal_status:
                          type: string
                          description: Estado interno del ítem/documento.
                          example: "pending_validation"
                          nullable: true
                        item_value:
                          type: object
                          description: Valores especificos del ítem/documento.
                        validation_result:
                          type: object
                          description: Resultado de las validaciones del ítem/documento.
                          nullable: true
                        item_scope:
                          type: string
                          description: Alcance del ítem/documento.
                          enum: [basic, advanced]
                          example: "basic"
                        item_options:
                          type: object
                          description: Opciones adicionales del ítem/documento que afectan al proceso interno del mismo.
                          properties:
                            upload_url:
                              type: string
                              format: uri
                              description: URL firmada temporal para subir el archivo del item mediante PUT antes de confirmar con options.uploaded_file.
                            is_optional:
                              type: boolean
                              description: Indica si el ítem/documento es opcional.
                              example: true
                          nullable: true
                  tag:
                    type: string
                    description: Etiqueta identificadora única del creador de la verificación.
                    example: "33332-34-22"
                  email:
                    type: string
                    format: email
                    description: Correo electrónico asociado a la verificación.
                    example: "johndoe@mail.com"
                  country:
                    type: string
                    description: Código de país ISO 3166-1 alfa-2.
                    example: "mx"
                  tax_id:
                    type: string
                    description: RFC o número de identificación fiscal.
                    example: "SAG160927GIA"
                  business_name:
                    type: string
                    description: Nombre comercial de la empresa extraído automáticamente de los documentos.
                    nullable: true
                    example: "Trebol OPCO SAS"
                  friendly_name:
                    type: string
                    nullable: true
                    description: >
                      Nombre descriptivo asignado por el usuario al crear la verificación. Permite
                      identificar fácilmente la empresa o persona asociada a la verificación.
                    example: "Empresa ACME S.A. de C.V."
                  options:
                    type: object
                    description: Objeto reservado para opciones adicionales.
                  created_by:
                    type: string
                    description: ID del usuario/cliente que creó la verificación.
                    example: "99999999-9999-9999-9999-999999999999"
                  onboarding_terms_and_conditions:
                    type: string
                    description: Lista de terminos y condiciones de onboarding aprobados por el cliente y asociados a la verificación.
                    nullable: true
        "208":
          description: |
            Verificación duplicada detectada. Se retorna cuando se intenta crear una verificación que ya existe 
            en el sistema para la misma empresa y flujo.

            **Condiciones para recibir este código:**
            - El parámetro `verify_duplicate_verification` debe ser `true`
            - Se debe proporcionar un `tax_id` (RFC/NIT) válido
            - Se debe proporcionar un `flow_id` válido
            - Ya existe una verificación activa con el mismo `tax_id`, `account_id` y `flow_id`

            **Comportamiento:**
            - Se envía automáticamente un enlace de acceso al email del creador original
            - Se retorna información básica sobre la verificación existente (con email enmascarado)
            - No se crea una nueva verificación
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Siempre será `false` para indicar que no se creó una nueva verificación
                    example: false
                  data:
                    type: object
                    description: Información sobre la verificación existente
                    properties:
                      creator_email:
                        type: string
                        description: |
                          Email del creador de la verificación original, enmascarado por privacidad.
                          Formato: primer_carácter + asteriscos + último_carácter + @dominio
                          Ejemplo: "john.doe@example.com" → "j**********e@example.com"
                        example: "j***@domain.com"
                      business_name:
                        type: string
                        description: Nombre comercial de la empresa de la verificación existente
                        example: "Trebol OPCO"
                    required:
                      - creator_email
                      - business_name
              examples:
                DuplicateVerification:
                  summary: Verificación duplicada detectada
                  description: |
                    Respuesta cuando se intenta crear una verificación que ya existe para la misma empresa y flujo.
                    El sistema automáticamente envía un enlace de acceso al creador original.
                  value:
                    success: false
                    data:
                      creator_email: "j***@trebol.com"
                      business_name: "Empresa Ejemplo S.A. de C.V."
        "400":
          description: |
            Solicitud inválida. Posibles causas:
            - Un ítem referencia un tipo de ítem personalizado que no existe o fue eliminado.
            - Otros errores de validación del request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "422":
          description: |
            Un ítem referencia un tipo de ítem personalizado archivado.
            El tipo tiene `status = 'archived'`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      operationId: listarVerificaciones
      tags:
        - Leer información de la empresa
      summary: Listar verificaciones de la cuenta
      description: |
        Retorna las verificaciones asociadas a la cuenta con paginación basada en tokens.
        El tamaño de página por defecto es 10 y el máximo permitido es 20.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: Filtra por el estado de la verificación.
          schema:
            type: string
            enum: [pending, finished, error, pending_validation]
        - name: page_size
          in: query
          required: false
          description: |
            Cantidad de verificaciones por página. Valor por defecto: `10`.
            Debe ser un entero positivo; valores no enteros o menores o iguales a `0` resultan en `400 Bad Request`.
            Valores mayores a `20` se ajustan automáticamente al máximo permitido (`20`).
          schema:
            type: integer
            minimum: 1
            default: 10
        - name: next
          in: query
          required: false
          description: Token de paginación para obtener la siguiente página de resultados.
          schema:
            type: string
      responses:
        "200":
          description: Lista de verificaciones obtenida exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PublicVerification"
                    description: Lista de verificaciones.
                  next:
                    type: string
                    description: Token para obtener la siguiente página de resultados (presente solo si hay más páginas).
                    nullable: true
              examples:
                Success:
                  summary: Lista de verificaciones obtenida exitosamente
                  value:
                    data:
                      - id: "c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                        account_id: "99999999-9999-9999-9999-999999999999"
                        status: "pending"
                        created_at: "2025-04-28T20:10:06.840Z"
                        updated_at: "2025-04-28T20:10:06.840Z"
                        tag: "etiqueta"
                        tax_id: "SAG160927GIA"
                        business_name: "Trebol OPCO"
                        friendly_name: "Empresa ACME S.A. de C.V."
                        flow_id: "documents-v2"
                        details_url: "https://app.gotrebol.com/verifications/c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                        onboarding_url: "https://onboarding.gotrebol.com/verification/c8dc41fc..."
                        items:
                          - id: 25440
                            item_status: "pending"
                            item_type: "csf_mx"
                            item_value: {}
                    next: "eyJjcmVhdGVkQXQiOiIyMDI1LTA0LTI4VDIwOjEwOjA2Ljg0MFoiLCJpZCI6ImM4ZGM0MWZjLWM0NzctNDA0ZS1hZmY3LWI5MDc0Zjg2ZDZkMSJ9"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /verification-items:
    get:
      tags:
        - Gestion de item Ids
      summary: Obtener todos los items de verificación
      description: |
        Retorna una lista de todos los items de verificación disponibles con paginación basada en tokens.
        La paginación funciona con un tamaño fijo de 10 items por página.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: itemType
          in: query
          required: false
          description: Filtrar por tipo de item (ej. "generic", "csf_mx", etc.)
          schema:
            type: string
        - name: itemStatus
          in: query
          required: false
          description: Filtrar por estado del item (ej. "pending", "complete", "error")
          schema:
            type: string
        - name: tag
          in: query
          required: false
          description: Filtrar por etiqueta de verificación
          schema:
            type: string
        - name: next
          in: query
          required: false
          description: Token de paginación para obtener la siguiente página de resultados
          schema:
            type: string
      responses:
        "200":
          description: Lista de items de verificación obtenida exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PublicVerificationItem"
                    description: Lista de items de verificación (máximo 10 por página)
                  next:
                    type: string
                    description: Token para obtener la siguiente página de resultados (presente solo si hay más páginas)
                    nullable: true
              examples:
                Success:
                  summary: Lista de items de verificación obtenida exitosamente
                  value:
                    data:
                      - id: 26600
                        item_order: 3
                        item_status: "complete"
                        item_type: "ac_mx"
                        item_internal_status: "classification_failed"
                        item_value:
                          value: "itemCustomed"
                        user_event_completed_at: "2025-09-23T03:30:32Z"
                        user_event_name: "add_item"
                        user_event_reason: "item created without a file_url"
                        tag: null
                        item_scope: "advanced"
                        tags:
                          uploaded-from: "webapp-creation-business"
                        original_file_url: "https://files.staging.gotrebol.com/66b4b55e-0e4f-42ec-9727-2bff88965562/26600_original_file.pdf?response-content-type=application%2Fpdf&response-content-disposition=inline&Expires=1758902113&Key-Pair-Id=K2O2X5EIJK95L0&Signature=X0if4WzR23I0s61h~gW2s-92nGNXhQBHZp9bxl42HqMSMO1VYpybLmhtygyJfx5OvZL4NSoYHTYfH7-yZv02lRwtNSI~xYFAVVxPPFROzwblK66LwymsQWAE0xvwtI98eWQKBWop3rgHADqrUGIm1RBa2qm3Ydlj2HVtWmsrVn2OTMtnIuoyI50Z8iYmx6hcPLul6SazK4h18MMRRi5xnsa2shrGs36rLyRFlnDBObRFJBKmkH4Dn27PuCVrXQRHQwRUIyRCQAiLGSuVKDp~iWZqTld6qgDQOkq-0A54dv0r8O6hYZ5fPyX1ufeIJeaKaGKjKC9qAiOWl~wQe6-w9g__"
                    next: "eyJjcmVhdGVkQXQiOiIyMDI1LTA5LTIzVDAzOjMwOjMyWiIsImlkIjoyNjYwMH0="
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /verification-items/{id}:
    put:
      operationId: confirmarCargaDocumento
      tags:
        - Gestion de item Ids
      summary: Confirmar la carga de un documento
      description: |
        Después de subir el archivo mediante PUT a `item_options.upload_url`, confirma la carga
        para iniciar el procesamiento del item. Aplica a `generic`, `doc_validation`,
        tipos de extracción de documentos y `doc_splitter`, incluidos los tipos
        personalizados habilitados para la cuenta. El procesamiento es asíncrono.
        Ver [Carga directa](/guia-devs/crear-verificaciones/via-api/carga-directa).
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID del item recibido al crear la verificación o agregar items.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [options]
              properties:
                options:
                  type: object
                  required: [uploaded_file]
                  properties:
                    uploaded_file:
                      type: boolean
                      description: Si es true, confirma la carga e inicia el procesamiento. Si es false, no confirma ni inicia el procesamiento.
                      example: true
            example:
              options:
                uploaded_file: true
      responses:
        "200":
          description: Solicitud procesada. Con uploaded_file en true, confirma el archivo y solicita el procesamiento; con false, no confirma la carga ni solicita el procesamiento.
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    $ref: "#/components/schemas/PublicVerificationItem"
                  triggeredSideEffects:
                    type: boolean
                    description: Indica si la actualización solicitó el procesamiento del item.
                    example: true
        "404":
          description: El item no existe o el archivo aún no está en el almacenamiento de carga.
          content:
            application/json:
              example:
                message: S3 object not found
    get:
      tags:
        - Gestion de item Ids
      summary: Obtener un item de verificación por ID
      description: |
        Retorna un item de verificación específico por su ID.

        **Coordenadas de citas:** para items de tipo acta, agrega `?with_citations=true` y la respuesta incluirá `citations.url` con la URL firmada al artifact de coordenadas de ese documento. Ver [Coordenadas de citas](/guia-devs/referencia/coordenadas-citas).
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: El ID único del item de verificación
          schema:
            type: string
        - name: with_citations
          in: query
          required: false
          description: |
            Solo aplica a items de tipo acta. Si es `true`, la respuesta incluye `citations.url`: una URL firmada al artifact de coordenadas de ese documento. Ver [Coordenadas de citas](/guia-devs/referencia/coordenadas-citas).
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Item de verificación obtenido exitosamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicVerificationItem"
              examples:
                Success:
                  summary: Item de verificación obtenido exitosamente
                  value:
                    id: 26600
                    item_order: 3
                    item_status: "complete"
                    item_type: "ac_mx"
                    item_internal_status: "classification_failed"
                    item_value:
                      value: "itemCustomed"
                    user_event_completed_at: "2025-09-23T03:30:32Z"
                    user_event_name: "add_item"
                    user_event_reason: "item created without a file_url"
                    tag: null
                    item_scope: "advanced"
                    tags:
                      uploaded-from: "webapp-creation-business"
                    original_file_url: "https://files.staging.gotrebol.com/66b4b55e-0e4f-42ec-9727-2bff88965562/26600_original_file.pdf?response-content-type=application%2Fpdf&response-content-disposition=inline&Expires=1758902113&Key-Pair-Id=K2O2X5EIJK95L0&Signature=X0if4WzR23I0s61h~gW2s-92nGNXhQBHZp9bxl42HqMSMO1VYpybLmhtygyJfx5OvZL4NSoYHTYfH7-yZv02lRwtNSI~xYFAVVxPPFROzwblK66LwymsQWAE0xvwtI98eWQKBWop3rgHADqrUGIm1RBa2qm3Ydlj2HVtWmsrVn2OTMtnIuoyI50Z8iYmx6hcPLul6SazK4h18MMRRi5xnsa2shrGs36rLyRFlnDBObRFJBKmkH4Dn27PuCVrXQRHQwRUIyRCQAiLGSuVKDp~iWZqTld6qgDQOkq-0A54dv0r8O6hYZ5fPyX1ufeIJeaKaGKjKC9qAiOWl~wQe6-w9g__"
                CustomItemType:
                  summary: Item de un tipo de ítem personalizado (cit_*)
                  value:
                    id: 31544
                    item_order: 1
                    item_status: "complete"
                    item_type: "cit_contrato_arrendamiento"
                    item_internal_status: "extraction_finished"
                    item_error: null
                    item_value:
                      current_stage: "extraction"
                      pipeline:
                        validation:
                          - process_reference: "validar_firmas"
                            executed: true
                            execution_result: true
                            value:
                              identifier: "activeVersionId_87"
                              validation_result: true
                              explanation: "El contrato está firmado por ambas partes."
                        extraction:
                          - process_reference: "extraer_datos_contrato"
                            executed: true
                            execution_result: "success"
                            value:
                              landlord_name: "María López García"
                              tenant_name: "Carlos Ramírez Soto"
                              monthly_rent: 15000
                              start_date: "2026-02-01"
                              contract_duration: "12 meses"
                    original_file_url: "https://files.gotrebol.com/66b4b55e-0e4f-42ec-9727-2bff88965562/31544_original_file.pdf"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /verification-items/{itemId}/invalidate:
    post:
      tags:
        - Invalidar un documento
      summary: Invalidar un documento de una verificacion
      description: Invalida el documento de la verificación especificado.
      parameters:
        - name: itemId
          in: path
          required: true
          description: El ID del documento de verificación que se desea invalidar.
          schema:
            type: string
      requestBody:
        description: No se requiere un cuerpo en la solicitud.
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: sucessful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []
  /verifications/{verification-id}:
    get:
      tags:
        - Leer información de la empresa
      summary: Obtener una verificación por su ID
      description: |
        Retorna una verificación pública con sus items serializados.
        Consulta la guía de estructuras de `item_value` por tipo en [Respuestas por tipo de ítem](/docs/guia-devs/respuestas-por-tipo-de-item).

        **Coordenadas de citas:** agrega `?with_citations=true` y los items de tipo acta incluirán un campo `citations.url` con la URL firmada al artifact de coordenadas de ese documento. Ver [Coordenadas de citas](/guia-devs/referencia/coordenadas-citas).

        **Reporte de consultas públicas externas:** cuando la verificación incluye consultas a fuentes externas (SAT, RENAPO, INE, SIGER), la respuesta agrega `lookups_report` con una URL firmada para descargar el reporte PDF de auditoría. El campo se omite si no hay reporte (verificaciones sin consultas externas, antiguas o de países aún no soportados). Ver [Consultas públicas externas](/guia-devs/monitorear/consultas-publicas-externas).

        **Síntesis de Dictamen (`findings`):** la respuesta de este endpoint siempre incluye el campo `findings` con los hallazgos de la Síntesis de Dictamen. El listado `GET /verifications` no lo incluye.

        El bloque completo es `null` mientras la revisión no se haya ejecutado para la verificación. Cuando existe, trae tres campos:

        - `items`: lista de hallazgos, cada uno con `severity` (`high`, `medium` o `low`), `message` y, cuando aplica, `missing_field`. Una lista vacía significa que la revisión corrió y no encontró nada — distinto de `findings: null`.
        - `computed_at`: fecha y hora ISO 8601 de la corrida que produjo los hallazgos. Es `null` en verificaciones antiguas, anteriores a que se registrara este dato.
        - `source`: `provisional` o `final`.

        `source` indica en qué momento Trébol calcula la revisión. `provisional`: la calcula antes de completarse la verificación, con un modelo más rápido, y una corrida final puede reemplazarla — sus hallazgos pueden cambiar de severidad o desaparecer. `final`: la calcula al completarse la verificación.
      operationId: getVerificationById
      parameters:
        - $ref: "#/components/parameters/verificationIdParam"
        - name: with_citations
          in: query
          required: false
          description: |
            Si es `true`, cada item de tipo acta en `items[]` incluye `citations.url`: una URL firmada al artifact de coordenadas de ese documento. Ver [Coordenadas de citas](/guia-devs/referencia/coordenadas-citas).
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Verificación recuperada exitosamente.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PublicVerification"
                  - type: object
                    required: [findings]
                    properties:
                      findings:
                        $ref: "#/components/schemas/VerificationFindings"
              examples:
                Success:
                  summary: Respuesta exitosa
                  value:
                    id: "c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                    account_id: "99999999-9999-9999-9999-999999999999"
                    status: "pending"
                    created_at: "2025-04-28T20:10:06.840Z"
                    updated_at: "2025-04-28T20:10:06.840Z"
                    tag: "etiqueta"
                    tax_id: "SAG160927GIA"
                    business_name: "Trebol OPCO"
                    friendly_name: "Empresa ACME S.A. de C.V."
                    flow_id: "documents-v2"
                    details_url: "https://app.gotrebol.com/verifications/c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                    onboarding_url: "https://onboarding.gotrebol.com/verification/c8dc41fc..."
                    items:
                      - id: 25440
                        item_status: "pending"
                        item_type: "csf_mx"
                        item_value: {}
                    findings: null
                ConReporteDeConsultas:
                  summary: Respuesta con reporte de consultas públicas externas
                  value:
                    id: "c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                    account_id: "99999999-9999-9999-9999-999999999999"
                    status: "finished"
                    created_at: "2026-06-16T18:00:00.000Z"
                    updated_at: "2026-06-16T18:30:00.000Z"
                    tag: "etiqueta"
                    tax_id: "SAG160927GIA"
                    business_name: "Trebol OPCO"
                    friendly_name: "Empresa ACME S.A. de C.V."
                    flow_id: "documents-v2"
                    items:
                      - id: 25440
                        item_status: "complete"
                        item_type: "public_sat_signatures"
                        item_value: {}
                    lookups_report:
                      url: "https://files.gotrebol.com/.../lookups-report.pdf?...firma..."
                      generated_at: "2026-06-16T18:30:00.000Z"
                    findings:
                      items:
                        - severity: "medium"
                          message: "La estructura accionaria proviene únicamente de SIGER; no fue posible confirmarla con el acta constitutiva proporcionada."
                      computed_at: "2026-06-16T18:30:00.000Z"
                      source: "final"
                ConHallazgosProvisionales:
                  summary: Respuesta con hallazgos provisionales (revisión aún no final)
                  value:
                    id: "c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                    account_id: "99999999-9999-9999-9999-999999999999"
                    status: "pending"
                    created_at: "2026-06-16T18:00:00.000Z"
                    updated_at: "2026-06-16T18:12:00.000Z"
                    tag: "etiqueta"
                    tax_id: "SAG160927GIA"
                    business_name: "Trebol OPCO"
                    friendly_name: "Empresa ACME S.A. de C.V."
                    flow_id: "documents-v2"
                    items:
                      - id: 25441
                        item_status: "complete"
                        item_type: "acta_constitutiva"
                        item_value: {}
                    findings:
                      items:
                        - severity: "high"
                          message: "No se encontró el acta constitutiva; sin ella no es posible confirmar la razón social ni la fecha de constitución."
                          missing_field: "razon_social"
                        - severity: "low"
                          message: "El domicilio fiscal declarado no coincide con el del comprobante de domicilio."
                      computed_at: "2026-06-16T18:12:00.000Z"
                      source: "provisional"
                SinHallazgos:
                  summary: Respuesta con la revisión ejecutada y sin hallazgos
                  value:
                    id: "c8dc41fc-c477-404e-aff7-b9074f86d6d1"
                    account_id: "99999999-9999-9999-9999-999999999999"
                    status: "finished"
                    created_at: "2026-06-16T18:00:00.000Z"
                    updated_at: "2026-06-16T18:30:00.000Z"
                    tax_id: "SAG160927GIA"
                    business_name: "Trebol OPCO"
                    flow_id: "documents-v2"
                    items: []
                    findings:
                      items: []
                      computed_at: "2026-06-16T18:30:00.000Z"
                      source: "final"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /v2/verifications/{verification-id}/corporate-history:
    get:
      operationId: obtenerHistorialCorporativo
      tags:
        - Leer información de la empresa
      summary: Obtener historial corporativo conciliado
      description: |
        Retorna el historial de actas de una empresa, conciliado entre las tres fuentes que lo conocen, con una fila por acta y la trazabilidad de qué fuente aportó cada dato.

        Ninguna fuente ve la empresa completa, y por eso el historial es el cruce:

        - **`siger`** — el folio mercantil. Es el registro de lo que se inscribió: fechas de inscripción, formas precodificadas y el acto tal como quedó asentado. No ve las actas que nunca se inscribieron, y empieza cuando la empresa se digitalizó.
        - **`client_file`** — los documentos que el cliente subió. Prueba que el acta existe y que la tienen, nunca lo que se acordó en ella.
        - **`background`** — los antecedentes que el fedatario narra al inicio de cada acta. Es la única fuente que ve actas que nadie subió y que el registro nunca inscribió, que suelen ser la mayoría de la historia de una empresa.

        Cada acta declara en `sources` qué fuentes la conocen. Un acta que solo trae `["background"]` existe porque otra acta la cita: llega con `cited_by` y con `evidence`, la cita textual que lo sostiene, y nunca se presenta como un hecho sin respaldo.

        **Se calcula al momento de la consulta**, de forma determinística sobre los datos que ya están en la verificación. No hay copia almacenada, así que la respuesta nunca queda obsoleta — y si los datos son parciales, `coverage` lo dice en vez de que el resultado parezca completo.

        **Las tres fechas de un acta** se distinguen porque se confunden con facilidad: `assembly_date` es cuándo se reunió la asamblea, `instrument_date` cuándo un fedatario la protocolizó y `registration_date` cuándo se inscribió el acta en el Registro público de comercio. `timeline_date` es la llave de orden, con precedencia declarada: instrumento, luego inscripción, luego asamblea. Cuando dos fuentes dan valores distintos para la misma fecha gana el expediente, luego el folio y al final los antecedentes: el expediente tiene el documento en mano, mientras que el folio y los antecedentes solo reportan una lectura de él. Si una misma fuente reporta el acta dos veces —un instrumento inscrito en dos folios— se toma la más antigua, solo para ordenarla.

        **Esta versión no reporta discrepancias entre fuentes.** El valor elegido se entrega sin decir que otra fuente decía algo distinto. Cuando dos antecedentes fechan la misma acta de forma diferente, las dos citas quedan visibles en `evidence`, que es donde la diferencia se puede leer directamente.

        **`coverage` declara hasta dónde vemos**, nunca que el historial esté completo. `combined.no_acta_after` es la fecha del acta más reciente del expediente: un cambio posterior a esa fecha no sería visible ni aunque hubiera ocurrido.

        **`document_check`** es un conteo objetivo, sin ranking. Qué documento faltante importa es política de cada cliente, no una conclusión nuestra: el acta entrega `sources`, `changes[].event_type` y `proof_document`, y quien la lee aplica su propio criterio. La lista de faltantes se deriva del historial mismo, filtrando las actas cuyo `sources` no incluye `client_file`.
      parameters:
        - name: verification-id
          in: path
          required: true
          description: ID de la verificación
          schema: { type: string }
      responses:
        "200":
          description: Historial recuperado exitosamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PublicResponseCorporateHistory"
              examples:
                corporateHistory:
                  $ref: "#/components/examples/V2CorporateHistoryExample"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /v2/verifications/{verification-id}/{entity}:
    get:
      operationId: obtenerSeccionPorIdDeVerificacion
      tags:
        - Leer información de la empresa
      summary: Obtener sección por ID de verificación
      description: |

        Retorna datos públicos v2 de una sección específica de una verificación a partir de su id.

        **Secciones disponibles:**
        - `details`: Detalles de la empresa (información legal, fiscal, registro, etc.)
        - `shareholders`: Accionistas y capital social
        - `people`: Personas clave, apoderados y representantes legales
        - `documents`: Documentos asociados a la verificación
        - `sources`: Fuentes de información (items) que alimentan la verificación
        - `external-lookups`: Evidencia de auditoría de las consultas a fuentes públicas (SAT, RENAPO, INE, SIGER). Ver [Consultas públicas externas](/guia-devs/monitorear/consultas-publicas-externas).

        **Fuentes (`sources`) y extracciones personalizadas:** cuando la cuenta tiene una extracción personalizada activa para el tipo de ítem correspondiente, cada elemento en `data.sources` puede incluir una llave `cp_<prompt_id>` por cada extracción con resultado, donde `prompt_id` es el identificador editable de la extracción personalizada y el valor es el JSON extraído según el esquema de la versión en uso. Más detalle en la guía [Extracciones personalizadas](/producto/guias/extracciones-personalizadas). Los ítems de tipos de ítem personalizados (`cit_*`) no exponen aquí sus resultados: se leen desde el ítem, en `item_value.pipeline`. Ver [Tipos de ítem personalizados](/producto/guias/tipos-de-item-personalizados#donde-salen-los-resultados).

        **Coordenadas de citas:** agrega `?with_citations=true` para obtener URLs firmadas al artifact de coordenadas. Según la sección: `people` y `shareholders` añaden `data.citations.url`; `sources` añade `citations.url` en cada item de tipo acta del array `data.sources`. Detalle completo en [Coordenadas de citas](/guia-devs/referencia/coordenadas-citas).

        <Accordion title="Endpoints v1 (Legacy)">
          <Warning>
            Estos endpoints están en modo legacy. Te recomendamos migrar al endpoint v2 que consolida toda esta funcionalidad en un solo endpoint con mejor estructura de datos.
          </Warning>

          Los siguientes endpoints v1 están disponibles para compatibilidad con implementaciones existentes:

          - [Obtener estatutos de las actas por el ID de Verificacion](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-estatutos-de-las-actas-por-el-id-de-verificacion)
          - [Obtener documentos de la empresa por id de verificacion](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-documentos-de-la-empresa-por-id-de-verificacion)
          - [Obtener apoderados y representates legales de la empresa de las actas por el ID de Verificacion](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-apoderados-y-representates-legales-de-la-empresa-de-las-actas-por-el-id-de-verificacion)
          - [Obtener accionistas de la empresa de las actas por el ID de Verificacion](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-accionistas-de-la-empresa-de-las-actas-por-el-id-de-verificacion)
          - [Obtener datos de prevalidacion de documentos](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-datos-de-prevalidacion-de-documentos)
        </Accordion>
      parameters:
        - name: id
          in: path
          required: true
          description: ID de la verificación
          schema: { type: string }
        - name: entity
          in: path
          required: true
          description: Sección solicitada
          schema:
            type: string
            enum:
              [
                details,
                shareholders,
                people,
                documents,
                sources,
                external-lookups,
              ]
        - name: with_citations
          in: query
          required: false
          description: |
            Aplica a `people`, `shareholders` y `sources`. Si es `true`:
            - Para `people` y `shareholders`: añade `data.citations.url`, una URL firmada al artifact de coordenadas de esa sección.
            - Para `sources`: añade `citations.url` en cada item de tipo acta dentro de `data.sources`.
            Ver [Coordenadas de citas](/guia-devs/referencia/coordenadas-citas).
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Sección recuperada exitosamente.
          content:
            application/json:
              schema:
                oneOf:
                  - title: "Detalles de la empresa"
                    $ref: "#/components/schemas/V2PublicResponseDetails"
                  - title: "Accionistas"
                    $ref: "#/components/schemas/V2PublicResponseShareholders"
                  - title: "Personas"
                    $ref: "#/components/schemas/V2PublicResponsePeople"
                  - title: "Documentos"
                    $ref: "#/components/schemas/V2PublicResponseDocuments"
                  - title: "Fuentes"
                    $ref: "#/components/schemas/V2PublicResponseSources"
                  - title: "Consultas públicas externas"
                    $ref: "#/components/schemas/V2PublicResponseExternalLookups"
              examples:
                details:
                  $ref: "#/components/examples/V2DetailsExample"
                shareholders:
                  $ref: "#/components/examples/V2ShareholdersExample"
                people:
                  $ref: "#/components/examples/V2PeopleExample"
                documents:
                  $ref: "#/components/examples/V2DocumentsExample"
                sources:
                  $ref: "#/components/examples/V2SourcesExample"
                external-lookups:
                  $ref: "#/components/examples/V2ExternalLookupsExample"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /v2/companies/{etiqueta}/{section}:
    get:
      operationId: obtenerSeccionPorEtiquetaDeEmpresa
      tags:
        - Leer información de la empresa
      summary: Obtener sección por etiqueta de empresa
      description: |
        Retorna datos públicos v2 de una sección específica de una empresa a partir de su etiqueta.

        **Secciones disponibles:**
        - `details`: Detalles de la empresa (información legal, fiscal, registro, etc.)
        - `shareholders`: Accionistas y capital social
        - `people`: Personas clave, apoderados y representantes legales
        - `documents`: Documentos asociados a la verificación
        - `sources`: Fuentes de información (items) que alimentan la verificación
        - `external-lookups`: Evidencia de auditoría de las consultas a fuentes públicas (SAT, RENAPO, INE, SIGER). Ver [Consultas públicas externas](/guia-devs/monitorear/consultas-publicas-externas).

        **Fuentes (`sources`) y extracciones personalizadas:** cuando la cuenta tiene una extracción personalizada activa para el tipo de ítem correspondiente, cada elemento en `data.sources` puede incluir una llave `cp_<prompt_id>` por cada extracción con resultado, donde `prompt_id` es el identificador editable de la extracción personalizada y el valor es el JSON extraído según el esquema de la versión en uso. Más detalle en la guía [Extracciones personalizadas](/producto/guias/extracciones-personalizadas). Los ítems de tipos de ítem personalizados (`cit_*`) no exponen aquí sus resultados: se leen desde el ítem, en `item_value.pipeline`. Ver [Tipos de ítem personalizados](/producto/guias/tipos-de-item-personalizados#donde-salen-los-resultados).

        **Coordenadas de citas:** agrega `?with_citations=true` para obtener URLs firmadas al artifact de coordenadas. Según la sección: `people` y `shareholders` añaden `data.citations.url`; `sources` añade `citations.url` en cada item de tipo acta del array `data.sources`. Detalle completo en [Coordenadas de citas](/guia-devs/referencia/coordenadas-citas).

        <Accordion title="Endpoints v1 (Legacy)">
          <Warning>
            Estos endpoints están en modo legacy. Te recomendamos migrar al endpoint v2 que consolida toda esta funcionalidad en un solo endpoint con mejor estructura de datos.
          </Warning>

          Los siguientes endpoints v1 están disponibles para compatibilidad con implementaciones existentes:

          - [Obtener estatutos de las actas por la Etiqueta](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-estatutos-de-las-actas-por-la-etiqueta)
          - [Obtener documentos de la empresa](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-documentos-de-la-empresa)
          - [Obtener apoderados y representantes legales de la empresa de las actas por la Etiqueta](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-apoderados-y-representantes-legales-de-la-empresa-de-las-actas-por-la-etiqueta)
          - [Obtener accionistas de las actas de la empresa por la Etiqueta](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-accionistas-de-las-actas-de-la-empresa-por-la-etiqueta)
          - [Obtener la informacion de la prevalidacion de documentos asosciados a una empresa](/docs/api-reference/leer-información-de-la-empresa-v1/obtener-la-informacion-de-la-prevalidacion-de-documentos-asosciados-a-una-empresa)
        </Accordion>
      parameters:
        - name: id
          in: path
          required: true
          description: Etiqueta de la empresa (tag)
          schema: { type: string }
        - name: section
          in: path
          required: true
          description: Sección solicitada
          schema:
            type: string
            enum:
              [
                details,
                shareholders,
                people,
                documents,
                sources,
                external-lookups,
              ]
        - name: with_citations
          in: query
          required: false
          description: |
            Aplica a `people`, `shareholders` y `sources`. Si es `true`:
            - Para `people` y `shareholders`: añade `data.citations.url`, una URL firmada al artifact de coordenadas de esa sección.
            - Para `sources`: añade `citations.url` en cada item de tipo acta dentro de `data.sources`.
            Ver [Coordenadas de citas](/guia-devs/referencia/coordenadas-citas).
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Sección recuperada exitosamente.
          content:
            application/json:
              schema:
                oneOf:
                  - title: "Detalles de la empresa"
                    $ref: "#/components/schemas/V2PublicResponseDetails"
                  - title: "Accionistas"
                    $ref: "#/components/schemas/V2PublicResponseShareholders"
                  - title: "Personas"
                    $ref: "#/components/schemas/V2PublicResponsePeople"
                  - title: "Documentos"
                    $ref: "#/components/schemas/V2PublicResponseDocuments"
                  - title: "Fuentes"
                    $ref: "#/components/schemas/V2PublicResponseSources"
                  - title: "Consultas públicas externas"
                    $ref: "#/components/schemas/V2PublicResponseExternalLookups"
              examples:
                details:
                  $ref: "#/components/examples/V2DetailsExample"
                shareholders:
                  $ref: "#/components/examples/V2ShareholdersExample"
                people:
                  $ref: "#/components/examples/V2PeopleExample"
                documents:
                  $ref: "#/components/examples/V2DocumentsExample"
                sources:
                  $ref: "#/components/examples/V2SourcesExample"
                external-lookups:
                  $ref: "#/components/examples/V2ExternalLookupsExample"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /v2/verifications/{verification-id}/export/{doc-template-id}:
    get:
      tags:
        - Exportación de Verificaciones
      summary: Exportar datos de verificación a documento personalizado
      description: |
        Exporta los datos de una verificación a un documento personalizado (PDF o Word) reemplazando los IDs con la información extraída.

        El endpoint recibe un documento que contiene IDs (marcadores de posición) que se encuentran documentados en la [sección de plantillas](/docs/plantillas/intro).
        Estos IDs serán reemplazados automáticamente con la información extraída de cada item de la verificación.

        **Funcionalidad:**
        - Genera un diccionario de variables únicas a partir de la información extraída
        - Reemplaza los IDs en el documento con la información correspondiente
        - Retorna el documento procesado con los datos actualizados

        **Tipos de documentos soportados:** PDF, Word (.docx)

      parameters:
        - $ref: "#/components/parameters/verificationIdParam"
        - in: path
          name: doc-template-id
          required: true
          description: El ID de la plantilla de documento. Ver [plantillas de documentos](/plantillas/gestion).
          schema:
            type: string
      responses:
        "200":
          description: JSON con la url de descarga del archivo y otros datos adicionales.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Booleano que indica si la exportación fue exitosa.
                    example: true
                  message:
                    type: string
                    description: Mensaje de éxito.
                    example: "File generated successfully. Download URL provided."
                  download_url:
                    type: string
                    description: URL de descarga del archivo. Al acceder a ella se descargará el archivo automáticamente.
                    example: "https://www.gotrebol.com/download/file.pdf"
                  expires_in:
                    type: number
                    description: Tiempo de expiración del enlace en milisegundos(1 hora).
                    example: 3600000
                  size:
                    type: number
                    description: Tamaño del archivo en bytes.
                    example: 1000000
              examples:
                success:
                  summary: Exportación exitosa
                  value:
                    success: true
                    message: "File generated successfully. Download URL provided."
                    download_rl: "https://www.gotrebol.com/download/file.pdf"
                    expiresIn: 3600000
                    size: 1000000
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          description: Verificación sin items o datos insuficientes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "verification with no items"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []
    post:
      tags:
        - Exportación de Verificaciones
      summary: Exportar datos de verificación a documento personalizado con variables de apoderados
      description: |
        Exporta los datos de una verificación a un documento personalizado (PDF o Word) reemplazando los IDs con la información extraída, incluyendo el mapeo de variables de apoderados.

        Este endpoint permite especificar qué personas y roles se deben usar para llenar las variables de apoderados en la plantilla. Las variables en la plantilla deben usar la nomenclatura `{key_person_#}` donde `#` es un número (ej: `{key_person_1}`, `{key_person_2}`).

        **Funcionalidad:**
        - Genera un diccionario de variables únicas a partir de la información extraída
        - Reemplaza los IDs en el documento con la información correspondiente
        - Mapea las variables de apoderados (`{key_person_#}`) con las personas y roles especificados en el body
        - Retorna el documento procesado con los datos actualizados

        **Obtener IDs de personas y roles:**
        Los valores de `person_id` y `role_id` se pueden obtener del endpoint [Obtener sección por ID de verificación](https://docs.gotrebol.com/api-reference/leer-información-de-la-empresa/obtener-sección-por-id-de-verificación) bajo la sección `/people`:
        - `person_id`: Se obtiene del campo `people_id` en cada objeto del array `key_people`
        - `role_id`: Se obtiene del campo `id` en cada objeto del array `roles` dentro de cada elemento de `key_people`

        **Tipos de documentos soportados:** PDF, Word (.docx)

      parameters:
        - $ref: "#/components/parameters/verificationIdParam"
        - in: path
          name: doc-template-id
          required: true
          description: El ID de la plantilla de documento. Ver [plantillas de documentos](/plantillas/gestion).
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportWithKeyPeopleRequest"
            examples:
              basic:
                summary: Ejemplo básico con dos apoderados
                value:
                  key_people:
                    - key: "key_person_1"
                      person_id: 10
                      role_id: "role_123"
                    - key: "key_person_2"
                      person_id: 15
                      role_id: "role_456"
      responses:
        "200":
          description: JSON con la url de descarga del archivo y otros datos adicionales.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Booleano que indica si la exportación fue exitosa.
                    example: true
                  message:
                    type: string
                    description: Mensaje de éxito.
                    example: "File generated successfully. Download URL provided."
                  download_url:
                    type: string
                    description: URL de descarga del archivo. Al acceder a ella se descargará el archivo automáticamente.
                    example: "https://www.gotrebol.com/download/file.pdf"
                  expires_in:
                    type: number
                    description: Tiempo de expiración del enlace en milisegundos(1 hora).
                    example: 3600000
                  size:
                    type: number
                    description: Tamaño del archivo en bytes.
                    example: 1000000
              examples:
                success:
                  summary: Exportación exitosa
                  value:
                    success: true
                    message: "File generated successfully. Download URL provided."
                    download_url: "https://www.gotrebol.com/download/file.pdf"
                    expiresIn: 3600000
                    size: 1000000
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          description: Verificación sin items o datos insuficientes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "verification with no items"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /verifications/{verification-id}/findings/run:
    post:
      tags:
        - Síntesis de Dictamen
      summary: Ejecutar la Síntesis de Dictamen bajo demanda
      description: |
        Encola una corrida de la Síntesis de Dictamen (`findings`) para la verificación, sin esperar a que un nuevo documento la dispare automáticamente.

        La corrida pasa por el mismo pipeline con deduplicación que usan las corridas automáticas, así que nunca genera corridas duplicadas.

        **La respuesta es asíncrona.** El endpoint responde `202` en cuanto la corrida queda encolada, sin esperar a que termine; la corrida tarda unos segundos y su resultado se lee en el campo `findings` de [Obtener una verificación por su ID](https://docs.gotrebol.com/api-reference/leer-información-de-la-empresa/obtener-una-verificación-por-su-id). Para saber que terminó, guarda el `findings.computed_at` que tenías antes de llamar y consulta la verificación cada 3-5 segundos hasta que ese valor cambie (o hasta que `findings` deje de ser `null`, si nunca había corrido). Un límite de ~2 minutos es holgado; si se agota, vuelve a consultar más tarde en vez de reintentar el `POST`, porque la corrida encolada sigue en curso.

        A diferencia de las corridas automáticas, una corrida pedida por este endpoint **no exige que haya cambiado algún documento**: varios hallazgos dependen de la vigencia de los documentos, así que las conclusiones pueden cambiar con el calendario aunque las entradas sean idénticas. Para acotar el costo hay un periodo mínimo entre corridas manuales (300 segundos por defecto), que se reporta como `recently_run`.

        El `POST` **no lleva body**; la verificación se identifica por la URL.

        Devuelve `409` con un `error_code` cuando la corrida no procede. Qué hacer en cada caso:

        | `error_code` | Qué pasó | Qué hacer |
        | --- | --- | --- |
        | `not_enabled` | La cuenta no tiene habilitada la Síntesis de Dictamen. | No es activable por API: escríbenos para habilitarla. Reintentar no cambia el resultado. |
        | `pending_documents` | Hay documentos requeridos sin subir o aún en procesamiento. | Sube los que falten. Para saber cuándo reintentar, consulta la verificación y espera a que los items que lista `pending_items` tengan `item_status: "complete"`; no reintentes el `POST` a ciegas. |
        | `already_scheduled` | Ya hay una corrida encolada o en ejecución. | **No reintentes el `POST`**: ya vas a recibir el resultado. Pasa directo a sondear `findings.computed_at`, igual que tras un `202`. |
        | `recently_run` | Hubo una corrida hace muy poco y sigue el periodo mínimo entre corridas manuales. | Espera los segundos que indica `retry_after_seconds` y vuelve a pedirla. |

        Un segundo `POST` mientras hay una corrida en vuelo responde `409 already_scheduled`, nunca un `202` que duplique la corrida.

        Para los códigos de error generales de la API (`401`, `404`, `500`), consulta [Errores](https://docs.gotrebol.com/guia-devs/errores).

        ### Ejemplo

        ```bash
        curl -X POST "https://api.gotrebol.com/verifications/{verification-id}/findings/run" \
          -H "x-api-key: TU_API_KEY"
        ```


        Sustituye `{verification-id}` por el id que te devolvió `POST /verifications` y
        `TU_API_KEY` por tu API key. Si la corrida queda encolada, la respuesta es:


        ```json
        { "status": "queued" }
        ```

        Y el ciclo completo, pidiendo la corrida y esperando su resultado:

        ```js
        const verificationId = "c8dc41fc-c477-404e-aff7-b9074f86d6d1"; // el id de tu verificación
        const headers = { "x-api-key": process.env.TREBOL_API_KEY };
        const base = `https://api.gotrebol.com/verifications/${verificationId}`;
        const sleep = (ms) => new Promise((r) => setTimeout(r, ms));

        // fetch no rechaza ante un status de error: hay que revisarlo a mano, o un
        // 401 durante el sondeo se ve igual que "todavía no termina".
        async function getVerification() {
          const res = await fetch(base, { headers });
          if (!res.ok) throw new Error(`Trébol respondió ${res.status}`);
          return res.json();
        }

        // 1. Guarda el computed_at actual: es la referencia para saber si ya corrió.
        const previous = (await getVerification()).findings?.computed_at ?? null;

        // 2. Pide la corrida, reintentando cuando el cooldown lo pide.
        while (true) {
          const run = await fetch(`${base}/findings/run`, { method: "POST", headers });
          if (run.status === 202) break;
          if (run.status !== 409) throw new Error(`Trébol respondió ${run.status}`);

          const { error_code, retry_after_seconds } = await run.json();
          // Ya hay una corrida en vuelo: su resultado es el que esperas igual.
          if (error_code === "already_scheduled") break;
          // Corrió hace poco. Es el caso normal al revalidar por vigencia.
          if (error_code === "recently_run") {
            await sleep((retry_after_seconds ?? 60) * 1000);
            continue;
          }
          // not_enabled y pending_documents no se resuelven reintentando.
          throw new Error(`corrida rechazada: ${error_code}`);
        }

        // 3. Sondea hasta que computed_at cambie (~2 min es holgado).
        const deadline = Date.now() + 120_000;
        while (Date.now() < deadline) {
          await sleep(4000);
          const { findings } = await getVerification();
          if (findings?.computed_at && findings.computed_at !== previous) {
            return findings; // hallazgos frescos
          }
        }
        // Se agotó la espera. La corrida sigue en curso: no es un fallo, así que
        // devuelve los hallazgos que ya tenías y vuelve a consultar más tarde.
        return (await getVerification()).findings;
        ```
      operationId: ejecutarRevisionDeHallazgos
      # Pin the generated page's URL. Mintlify builds it from the tag + summary,
      # which are accented Spanish, so the default route lands on
      # /api-reference/síntesis-de-dictamen/… — a URL that percent-encodes to
      # mojibake the moment anyone copies or pastes it. Display text keeps its
      # accents; only the slug is ASCII.
      x-mint:
        href: "/api-reference/sintesis-de-dictamen/ejecutar-sintesis-de-dictamen-bajo-demanda"
      parameters:
        - $ref: "#/components/parameters/verificationIdParam"
      responses:
        "202":
          description: Corrida de hallazgos encolada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [queued]
                    description: Estado de la solicitud. Siempre `queued` cuando la corrida queda encolada.
              example:
                status: "queued"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          description: La corrida no procede en el estado actual de la verificación. Revisa `error_code` para saber la causa.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindingsRunConflict"
              examples:
                NotEnabled:
                  summary: not_enabled
                  value:
                    error_code: "not_enabled"
                    message: "The findings analysis is not enabled for this account."
                PendingDocuments:
                  summary: pending_documents
                  value:
                    error_code: "pending_documents"
                    pending_items: ["Acta constitutiva", "constancia_situacion_fiscal_mx"]
                    message: "Findings cannot run yet: some required documents are still uploading or being processed."
                AlreadyScheduled:
                  summary: already_scheduled
                  value:
                    error_code: "already_scheduled"
                    message: "A findings run is already queued or in progress for this verification."
                RecentlyRun:
                  summary: recently_run
                  value:
                    error_code: "recently_run"
                    retry_after_seconds: 240
                    message: "Findings were recalculated moments ago. Try again in 240 seconds."
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /verifications/{verification-id}/labels:
    put:
      tags:
        - Labels de Verificacion
      summary: Actualizar labels de una verificacion
      description: Actualiza los labels de una verificación específica. Estos labels son útiles para identificar y buscar verificaciones.
      parameters:
        - in: path
          name: verification-id
          required: true
          description: El ID de la verificación.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label_ids:
                  type: array
                  description: |
                    Una lista de IDs de labels que se asignarán a la verificación.
                    Estos son los ID de los labels globales que se pueden asignar a las verificaciones:
                    - 1: "Verificación rechazada"
                    - 2: "Verificación aprobada"
                    - 3: "Verificación invalidada"
                  items:
                    type: number
                    example: 3
              example: |
                {
                  "label_ids": [3]
                }
      responses:
        "200":
          description: Labels actualizados exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Labels updated successfully"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /verifications/{verification-id}/key-people:
    put:
      tags:
        - Actualizar personas clave de una verificacion
      summary: Actualizar personas clave de una verificacion
      description: Actualiza las personas clave de una verificación específica.
      parameters:
        - in: path
          name: verification-id
          required: true
          description: El ID de la verificación.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key_people:
                  type: array
                  description: |
                    Una lista de personas clave que se asignarán a la verificación.
                    Cada persona clave debe tener un nombre y un alcance.
                  items:
                    type: object
                    properties:
                      names:
                        type: string
                        description: El nombre de la persona clave.
                      scope:
                        type: array
                        description: |
                          El alcance o las responsabilidades de la persona dentro de la empresa.
                        items:
                          type: string
                          example: "powers"
              example:
                {
                  "key_people":
                    [
                      { "names": "John Smith", "scope": ["powers"] },
                      { "names": "Jane Doe", "scope": ["powers"] },
                    ],
                }
      responses:
        "200":
          description: Personas clave actualizadas exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "added key people successfully"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /verifications/{verification-id}/add-items:
    put:
      tags:
        - Agregar items a una verificacion
      summary: Agregar items a una verificación existente
      description: |
        Agrega nuevos items/documentos a una verificación específica usando el id de la verificación.

        **Flujo de trabajo:**
        - **Paso 2 (Validación)**: Agregar items tipo `doc_validation` para validar documentos
        - **Paso 5 (Extracción)**: Agregar items de extracción real (`ac_mx`, `csf_mx`, etc.) basados en resultados de validación
      parameters:
        - in: path
          name: verification-id
          required: true
          description: El ID de la verificación.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  description: |
                    Una lista de ítems o documentos que serán agregados a la verificación, cada item debe tener un tipo y opciones.
                  items:
                    type: object
                    required:
                      - type
                      - options
                    properties:
                      type:
                        type: string
                        description: |
                          El tipo de documento o ítem a procesar. Acepta cualquier tipo soportado por Trébol.
                          - **Clasificación**: `generic` (Trébol detecta el tipo automáticamente).
                          - **Validación**: `doc_validation` (requiere `options.client_item_type`).
                          - **División de PDFs multi-documento**: `doc_splitter` (ver [guía del divisor de documentos](/producto/guias/doc-splitter)).
                          - **Extractores built-in México**: `ac_mx` (acta constitutiva), `aa_mx` (acta de asamblea), `pw_mx` (poder), `fme_mx` (fusión/escisión), `csf_mx` (constancia SAT), `union_documents_extractor`, entre otros.
                          - **Tipos personalizados**: nombres con prefijo `cit_` definidos en [tipos de ítem personalizados](/producto/guias/tipos-de-item-personalizados).

                          La lista completa vive en `SUPPORTED_ITEM_TYPES` del backend y crece con nuevos extractores; para ver la forma de respuesta por cada tipo consulta [respuestas por tipo de item](/guia-devs/referencia/respuestas-por-tipo-de-item).
                        example: "doc_validation"
                      tags:
                        type: object
                        description: Mapa de etiquetas que se asignarán al ítem como pares clave-valor.
                        additionalProperties:
                          type: string
                        example:
                          client_id: "some-client-id"
                      options:
                        type: object
                        description: |
                          Opciones adicionales para el ítem. Para el origen del archivo envía **uno** de:
                          `file_url` (URL descargable) o `file_source: "item"` (para referenciar un corte de un `doc_splitter`).
                          Si omites ambos, Trébol devuelve una `upload_url` presignada (ver [flujo de carga directa](/guia-devs/crear-verificaciones/via-api/carga-directa)). Este flujo también aplica a `doc_splitter`: sube el archivo y confirma con `options.uploaded_file: true`.
                        properties:
                          file_url:
                            type: string
                            description: URL de un archivo presignado que se puede descargar para el ítem a verificar.
                            example: "https://www.googleapis.com/downloadableFile"
                          constancia_type:
                            type: string
                            description: Tipo de constancia para items csf_mx (opcional). Especifica si es para empresa o individuo.
                            enum: ["business", "individual"]
                            example: "business"
                          people_scope:
                            type: array
                            description: Especifica el alcance de las personas que deben ser consideradas en la verificación.
                            items:
                              type: string
                              example: "powers"
                          client_item_type:
                            $ref: "#/components/schemas/ClientItemType"
                          allowed_item_types:
                            type: array
                            description: |
                              Solo para `doc_splitter`. Restringe los tipos que el splitter puede identificar. Acepta tipos built-in (por ejemplo `ac_mx`, `aa_mx`) y nombres de tipos de ítem personalizados (`cit_...`). Si se omite o está vacío, se usa el catálogo base completo.
                              **No confundir con** el `allowed_item_types` del `RequirementDefinition` (schema `AllowedItemType`): aquel es un enum cerrado usado en `record_validation_schema` para definir qué tipos satisfacen un requerimiento del expediente.
                            items:
                              type: string
                            example: ["ac_mx", "aa_mx"]
                          file_source:
                            type: string
                            description: |
                              Origen del archivo. Envía `"item"` para referenciar un corte generado por un ítem `doc_splitter` previo; en ese caso, completa `file_source_info` con `item_id` y `support_id`. Detalle en la [guía del divisor de documentos](/producto/guias/doc-splitter).
                            enum: ["item"]
                          file_source_info:
                            type: object
                            description: |
                              Referencia al corte del `doc_splitter`. Requerido cuando `file_source: "item"`. Trébol resuelve el sub-PDF internamente; no envíes `bucket`, `key` ni `support_url`.
                            properties:
                              item_id:
                                type: integer
                                description: "`id` del ítem `doc_splitter` que produjo el corte."
                                example: 30829
                              support_id:
                                type: string
                                description: |
                                  Identificador del sub-recurso dentro del ítem referenciado por `item_id`. Para un `doc_splitter` este valor es el `support_id` del corte que Trébol expone en `item_value.split_documents[].support_id`.
                                example: "ds_9f7d3a1c-1c72-4b0f-b8e2-5c9c8b5d4a11"
                            required:
                              - item_id
                              - support_id
            examples:
              Step2Validation:
                summary: Paso 2 - Validación de documentos
                value:
                  items:
                    - type: "doc_validation"
                      options:
                        file_url: "https://www.googleapis.com/downloadableFile"
                      tags:
                        some: "tag value"
              Step5Extraction:
                summary: Paso 5 - Extracción de información
                value:
                  items:
                    - type: "ac_mx"
                      options:
                        file_url: "https://www.googleapis.com/downloadableFile"
                      tags:
                        some: "tag value"
                    - type: "union_documents_extractor"
                      options:
                        file_url: "https://www.googleapis.com/downloadableFile"
                      tags:
                        some: "tag value"
                    - type: "csf_mx"
                      options:
                        file_url: "https://www.googleapis.com/downloadableFile"
                        constancia_type: "business"
                      tags:
                        some: "tag value"
              DocSplitterCreate:
                summary: Crear un doc_splitter para dividir un PDF con varios documentos
                value:
                  items:
                    - type: "doc_splitter"
                      options:
                        file_url: "https://ejemplo.com/expediente-completo.pdf"
                        allowed_item_types:
                          ["ac_mx", "aa_mx", "pw_mx", "fme_mx"]
              DocSplitterConsume:
                summary: Crear un ítem a partir de un corte de un doc_splitter
                value:
                  items:
                    - type: "ac_mx"
                      options:
                        file_source: "item"
                        file_source_info:
                          item_id: 30829
                          support_id: "ds_9f7d3a1c-1c72-4b0f-b8e2-5c9c8b5d4a11"
      responses:
        "200":
          description: Items agregados exitosamente a la verificación.
          content:
            application/json:
              schema:
                type: array
                description: Lista de items agregados con sus IDs asignados.
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: ID del ítem/documento.
                      example: 25440
                    item_status:
                      type: string
                      description: Estado del ítem/documento.
                      example: "pending"
                      enum: [pending, complete]
                    item_type:
                      type: string
                      description: Tipo de ítem/documento.
                      example: "ubos"
                    item_value:
                      type: object
                      description: Valores especificos del ítem/documento.
                    item_options:
                      type: object
                      description: Opciones adicionales del ítem/documento que afectan al proceso interno del mismo.
                      properties:
                        upload_url:
                          type: string
                          format: uri
                          description: URL firmada temporal para subir el archivo del item mediante PUT antes de confirmar con options.uploaded_file.
                        is_optional:
                          type: boolean
                          description: Indica si el ítem/documento es opcional.
                          example: true
                      nullable: true
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          description: |
            Conflicto. Causa habitual al referenciar un corte de `doc_splitter` con `file_source: "item"`: `source_item_not_ready` — el ítem fuente aún no está en `complete` sin `item_error`. Ver [Errores HTTP al referenciar un corte](/producto/guias/doc-splitter#errores-http-al-referenciar-un-corte).
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /verifications/{verification-id}/record_validation:
    get:
      tags:
        - Estado de validacion de documentos
      summary: Obtener estado de validacion de documentos por el ID de Verificacion
      description: Obtener el estado de validacion de documentos de una verificacion usando el id de la verificación.
      parameters:
        - in: path
          name: verification-id
          required: true
          description: El ID de la verificación.
          schema:
            type: string
      responses:
        "200":
          description: Estado de validacion de documentos recuperado exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: number
                        example: 2
                      requirements:
                        type: object
                  verification:
                    type: object
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /account-flows:
    get:
      tags: ["Gestión de Flujos de Cuenta"]
      summary: Listar flujos de cuenta
      description: Obtiene una lista de todos los flujos de cuenta
      responses:
        "200":
          description: Lista de flujos recuperada exitosamente
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: "#/components/schemas/AccountFlow"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

    post:
      tags: ["Gestión de Flujos de Cuenta"]
      summary: Crear nuevo flujo
      description: |
        Crea un nuevo flujo de cuenta. Visita la [guía de desarrollo](/guia-devs/crear-verificaciones/via-widget/crear-flujo) para más información.

        > **Nota:** El cuerpo de la solicitud está limitado a **200 KB** por nuestro WAF. Si tu configuración (reglas de validación, esquemas de formulario, listas de `flow_items`, etc.) supera este tamaño, la solicitud será rechazada antes de llegar al backend. Revisa las [recomendaciones de la guía](/guia-devs/account-flows) para mantenerte dentro del límite.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/AccountFlowCreate"
            examples:
              CreateFlow:
                summary: Crear nuevo flujo de cuenta
                value:
                  friendly_name: "A FLOW name test"
                  id_slug: "id-test-flow"
                  flow_items:
                    id: "enterprise-example-2"
                    items:
                      - type: "rues"
                        options:
                          nit: ""
                      - type: "ubos"
                        options:
                          ubos_data_extraction: true
                      - type: "forms"
                        options:
                          schema_id: "some-test-form-schema"
                          is_optional: true
                    options:
                      creator_email: "jsmith@example.com"
                      next_steps_checkout:
                        - title: "Documentos adicionales"
                          description: "Es posible que se necesiten documentos adicionales para completar tu onboarding. En ese caso nos pondremos en contacto contigo."
                        - title: "Firma del contrato"
                          description: "Cuando se complete toda la información, un representante de ventas se pondrá en contacto contigo para firmar el contrato."
                  record_validation_schema:
                    version: 2
                    requirements:
                      doc_1:
                        ui_options:
                          label: "Poderes del representante legal"
                          description: "Documento que certifica que el representante legal tiene los poderes para representar a la empresa."
                          conditional_render: true
                          conditional_render_label: "¿Los poderes del representante legal figuran en un acta de asamblea o poder notarial?"
                        allowed_item_types:
                          - "pw_mx"
                          - "ac_mx"
                          - "aa_mx"
                    optional_requirements: {}
                  country: "mx"
      responses:
        "201":
          description: Flujo creado exitosamente
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/AccountFlow"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

  /account-flows/{id_slug}:
    get:
      tags: ["Gestión de Flujos de Cuenta"]
      summary: Obtener flujo por ID
      description: Recupera un flujo de cuenta específico por su id_slug.
      parameters:
        - name: id_slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Flujo recuperado exitosamente
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/AccountFlow"
                  - type: object
                    properties:
                      country:
                        type: string
                        enum: ["mx", "co"]
                        description: País al que pertenece el flujo
                      id_slug:
                        type: string
                        description: Identificador único del flujo
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

    delete:
      operationId: deleteAccountFlow
      tags: ["Gestión de Flujos de Cuenta"]
      summary: Eliminar flujo existente
      description: Elimina un flujo de cuenta existente por su id_slug
      parameters:
        - name: id_slug
          in: path
          required: true
          description: Identificador único del flujo a eliminar
          schema:
            type: string
      responses:
        "200":
          description: Flujo eliminado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Flujo eliminado correctamente"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - ApiKeyAuth: []

    put:
      tags: ["Gestión de Flujos de Cuenta"]
      summary: Actualizar flujo existente
      description: |
        Actualiza un flujo de cuenta existente por su id_slug.

        > **Nota:** El cuerpo de la solicitud está limitado a **200 KB** por nuestro WAF. Si tu configuración (reglas de validación, esquemas de formulario, listas de `flow_items`, etc.) supera este tamaño, la solicitud será rechazada antes de llegar al backend. Revisa las [recomendaciones de la guía](/guia-devs/account-flows) para mantenerte dentro del límite.
      parameters:
        - name: id_slug
          in: path
          required: true
          description: Identificador único del flujo a actualizar
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/AccountFlowUpdate"
                - type: object
                  properties:
                    country:
                      type: string
                      enum: ["mx", "co"]
                      description: País al que pertenece el flujo
      responses:
        "200":
          description: Flujo actualizado exitosamente
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/AccountFlow"
                  - type: object
                    properties:
                      country:
                        type: string
                        enum: ["mx", "co"]
                        description: País al que pertenece el flujo
                      id_slug:
                        type: string
                        description: Identificador único del flujo
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
[...]
